<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="services services--s3">
                    <div class="__inner">
                        <div class="row">
                            <div class="col-12 col-md-9 col-lg-6">
                                <div class="section-heading">
                                    <span class="title-tag">Möglichkeiten der Visualisierung</span>
                                    <h2 class="__title">Konfigurierbare <span>Bausteine</span></h2>
                                    <p>
                                        Die Messgeräte Anwendung beinhaltet einfach zu konfigurierende Bausteine,
                                        mit deren sich alle Messwerte einfach visualiseren lassen
                                    </p>
                                </div>

                                <div class="spacer py-4"></div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <figure class="image-container">
                                        <img class="img-fluid d-none d-lg-block" width="60"
                                             src="../img/widgets/line-widget.png" alt="Liniendiagramm"/>
                                    </figure>
                                    <h4 class="__title">Liniendiagramm</h4>
                                    <p>
                                        Zeigt Messwerte in einer Zeitserie
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <figure class="image-container">
                                        <img class="img-fluid d-none d-lg-block" width="60"
                                             src="../img/widgets/map-widget.png" alt="Karte"/>
                                    </figure>
                                    <h4 class="__title">Karte</h4>
                                    <p>
                                        Zeigt Standort und Messwerte auf einer Karte an
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <figure class="image-container">
                                        <img class="img-fluid d-none d-lg-block" width="60"
                                             src="../img/widgets/traffic-widget.png" alt="Ampel"/>
                                    </figure>
                                    <h4 class="__title">Ampel</h4>
                                    <p>
                                        Zeigt den Zustand über Messwerte und Messgeräte
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <figure class="image-container">
                                        <img class="img-fluid d-none d-lg-block" width="60"
                                             src="../img/widgets/table-widget.png" alt="Tabelle"/>
                                    </figure>
                                    <h4 class="__title">Tabelle</h4>
                                    <p>
                                        Übersicht über mehrere Messwerte
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <figure class="image-container">
                                        <img class="img-fluid d-none d-lg-block" width="60"
                                             src="../img/widgets/pie-widget.png" alt="Kreisdiagramm"/>
                                    </figure>
                                    <h4 class="__title">Kreisdiagramm</h4>
                                    <p>
                                        Anzeige für die Verteilung der Messwerte
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <figure class="image-container">
                                        <img class="img-fluid d-none d-lg-block" width="60"
                                             src="../img/widgets/bar-widget.png" alt="Säulendiagramm"/>
                                    </figure>
                                    <h4 class="__title">Säulendiagramm</h4>
                                    <p>
                                        Darstellung der Häufigkeit von Messwerte
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <figure class="image-container">
                                        <img class="img-fluid d-none d-lg-block" width="60"
                                             src="../img/widgets/value-widget.png" alt="Werteanzeige"/>
                                    </figure>
                                    <h4 class="__title">Werteanzeige</h4>
                                    <p>
                                        Einfache Anzeige der Messwerte
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <figure class="image-container">
                                        <img class="img-fluid d-none d-lg-block" width="60"
                                             src="../img/widgets/toggle-widget.png" alt="Schalter & Taster"/>
                                    </figure>
                                    <h4 class="__title">Schalter & Taster</h4>
                                    <p>
                                        Steuert Aktionen und Funktionen eines Messgeräts
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
