<header class="top-bar top-bar--light" data-nav-anchor="true" id="top-bar">
    <div class="top-bar__inner">
        <div class="container-fluid">
            <div class="row align-items-center no-gutters">

                <!-- =================================================
                ===== Logo
                ================================================== -->
                <a class="top-bar__logo site-logo" href="/">
                    <img alt="demo" class="img-fluid large-logo" src="../img/oneiot/oneiot-logo-white.png" width="100"/>
                    <img alt="demo" class="img-fluid sticky-logo" src="../img/oneiot/oneiot-logo-sticky.png" width="100"/>
                </a>

                <!-- =================================================
                ===== Responsive navigation bar toggle
                ================================================== -->
                <a class="top-bar__navigation-toggler" href="javascript:void(0);" id="top-bar__navigation-toggler">
                    <span></span>
                </a>

                <!-- =================================================
                ===== Main navigation
                ================================================== -->
                <div class="top-bar__collapse">

                    <!-- =================================================
                    ===== Main navigation
                    ================================================== -->
                    <nav class="top-bar__navigation" id="top-bar__navigation" role="navigation">
                        <ul>
                            <li class="has-submenu">
                                <a class="nav-link">Produkte</a>
                                <ul class="submenu submenu">
                                    <div class="column-nav">
                                        <ul>
                                            <li>
                                                <a class="item-title" href="gateway">
                                                    Industrial Gateway 4.0
                                                    <br/>
                                                    <span class="small">Bringt jedes Messgeräte online</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="item-title" href="app">
                                                    Messgeräte Anwendung
                                                    <br/>
                                                    <span class="small">Online Zugriff auf alle Messgeräte</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="item-title" href="iot-platform">
                                                    Messgeräte Plattform
                                                    <br/>
                                                    <span class="small">Services für Messgeräte Anwendungen</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a class="nav-link">Lösungen</a>
                                <ul class="submenu submenu">
                                    <div class="column-nav">
                                        <ul>
                                            <li>
                                                <a class="item-title" href="monitoring">
                                                    Messwerte Überwachung
                                                    <br/>
                                                    <span class="small">Visualisierung in Echtzeit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="item-title" href="control">
                                                    Messgeräte Steuerung
                                                    <br/>
                                                    <span class="small">Fernzugriff zu jeder Zeit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="item-title" href="alerts">
                                                    Frühwarnsystem
                                                    <br/>
                                                    <span class="small">Warnmeldungen per SMS & E-Mail</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="item-title" href="debugging">
                                                    Messgeräte Diagnosen
                                                    <br/>
                                                    <span class="small">Fernprüfung aller Messgeräte</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </li>

                            <li><a class="nav-link" href="../pricing">Pricing</a></li>
                        </ul>
                    </nav>

                    <!-- =================================================
                    ===== Action navigation
                    ================================================== -->
                    <div class="top-bar__action" id="top-bar__action">
                        <div class="d-xl-flex flex-xl-row flex-xl-wrap align-items-xl-center">

                            <!-- =================================================
                            ===== Language chooser
                            ================================================== -->
                <!--            <div class="top-bar__choose-lang js-choose-lang text-shadow">-->
                <!--                <div class='current-lang',><i><img alt='demo' class='circled' height='25' src='../img/icon/en.png' width='25'/></i><span>En</span></div>-->
                <!--                <div class="list-wrap">-->
                            <!--                    <ul class="list">-->
                            <!--                        <li class="is-active" data-img="../img/icon/en.png"-->
                            <!--                            data-short-name="En">-->
                <!--                            <a href="../en/">-->
                <!--                                <span>English</span>-->
                <!--                            </a>-->
                            <!--                        </li>-->
                            <!--                        <li class="" data-img="../img/icon/de.png"-->
                            <!--                            data-short-name="Ger">-->
                <!--                            <a href="../de/">-->
                <!--                                <span>German</span>-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </div>-->
                <!--            </div>-->

                            <a class="ml-4" target="_blank" href="https://app.easytoi.com">
                                Login
                            </a>
                            <a class="ml-4" target="_blank" href="https://app.easytoi.com">
                                <button class="custom-btn custom-btn--medium dashboard-btn custom-btn--style-4 medium" role="button"
                                        type="submit">
                                    Registrieren
                                </button>
                            </a>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</header>
<div class="header-progress-bar">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>
