<section id="about-our-location" class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row align-items-lg-center">

                    <div class="col-12 col-lg-5 text-center align-top">
                        <figure class="image-container">
                            <img class="img-fluid" src="../img/oneiot/world-map.png" alt="OneIoT location" />
                        </figure>
                        <div class="spacer py-sm-4"></div>
                    </div>

                    <div class="col-12 col-lg-6 offset-lg-1 align-top text-lg-right">
                        <div class="feature feature--s1 text-center text-sm-left">
                            <div class="__inner">
                                <h2 class="__title">${{ index.our-location-title-p1 }}$ <span>${{ index.our-location-title-p2 }}$</span></h2>
                                <div class="spacer py-1"></div>
                                <p>
                                    ${{ index.our-location-content }}$
                                </p>
                                <p>
                                    <strong>+49 172 - 232 51 02</strong><br>
                                    <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#111;&#110;&#101;&#105;&#111;&#116;&#046;&#100;&#101;">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#111;&#110;&#101;&#105;&#111;&#116;&#046;&#100;&#101;</a><br>
                                    Karlsruhe, Germany
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="spacer py-5 d-lg-none"></div>

                </div>
            </div>
        </div>
    </div>
</section>
