<section class="section" id="api-why">
    <div class="container">

        <!-- =================================================
        ===== Hardware content with icons
        ================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-lg-center">
                    <div class="col-12 col-lg-6">
                        <div class="feature feature--s1  text-center text-sm-left">
                            <div class="__inner">

                                <!-- =================================================
                                ===== Item 1
                                ================================================== -->
                                <div class="__item">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="Create your own application" class="img-fluid" src="../img/oneiot/create.png" width="70"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.create-application-api }}$</h4>
                                            <p>${{ index.create-application-api-content }}$</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                               ===== Item 2
                               ================================================== -->
                                <div class="__item">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="Integration into your system" class="img-fluid" src="../img/oneiot/gears.png" width="70"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.integration-api }}$</h4>
                                            <p>${{ index.integration-api-content }}$</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                ===== Item 3
                                ================================================== -->
                                <div class="__item">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="REST API" class="img-fluid" src="../img/oneiot/documents.png" width="70"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.rest-api }}$</h4>
                                            <p>${{ index.rest-api-content }}$</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="spacer py-5 d-lg-none"></div>

                    <!-- =================================================
                    ===== Image
                    ================================================== -->
                    <div class="col-12 col-lg-6  text-center text-lg-right">
                        <figure class="image-container">
                            <img class="img-fluid" width="547" height="567" src="../img/oneiot/api-const.png" alt="Api" />
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
