<section class="section section-benefits-first">
    <div class="container">
        <div class="section-heading section-heading--center" data-aos="fade">
            <h2 class="__title">${{ index.benefits }}$. <span>${{ index.benefits-slogan }}$.</span></h2>
            <div class="spacer py-1"></div>
        </div>

        <div class="spacer py-8"></div>

        <div class="row d-flex align-items-stretch text-center">

            <div class="col-12 col-lg-4 align-top">
                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="100">
                <div class="mb-3 mb-sm-0">
                    <img alt="Controlling" class="img-fluid" src="../img/oneiot/app-web.png" width="70"/>
                </div>
                <div class="section-heading mt-lg-4 mt-sm-4">
                    <h4 class="__title h4">${{ index.keep-control-title-p1 }}$ ${{ index.keep-control-title-p2 }}$</h4>
                </div>
                <div class="spacer py-2"></div>
                <div>
                    <p>${{ index.keep-control-content }}$</p>
                </div>
                <div class="spacer py-4"></div>
                </div>
            </div>
            <div class="col-12 col-lg-4 align-top text-center">
                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="200">
                <div class="mb-3 mb-sm-0">
                    <img alt="Win data" class="img-fluid" src="../img/oneiot/analytics.png" width="70"/>
                </div>
                <div class="section-heading mt-lg-4 mt-sm-4">
                    <h4 class="__title h4">${{ index.collect-data-title-p1 }}$ ${{ index.collect-data-title-p2 }}$</h4>
                </div>
                <div class="spacer py-2"></div>
                <div>
                    <p>${{ index.collect-data-content }}$</p>
                </div>
                <div class="spacer py-4"></div>
                </div>
            </div>

            <div class="col-12 col-lg-4 align-top text-center">
                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="300">
                <div class="mb-3 mb-sm-0">
                    <img alt="Smart home" class="img-fluid" src="../img/oneiot/smart-home.png" width="70"/>
                </div>
                <div class="section-heading mt-lg-4 mt-sm-4">
                    <h4 class="__title h4">${{ index.offer-experience-title-p1 }}$ ${{ index.offer-experience-title-p2 }}$</h4>
                </div>
                <div class="spacer py-2"></div>
                <div>
                    <p>${{ index.offer-experience-content }}$</p>
                </div>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="section section-benefits">
    <div class="container">
        <div class="row d-flex align-items-stretch">


            <div class="col-12 col-lg-4 align-top text-center">
                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="100">
                    <div class="mb-3 mb-sm-0">
                        <img alt="No cloud" class="img-fluid" src="../img/oneiot/no-cloud.png" width="70"/>
                    </div>
                    <div class="section-heading mt-lg-4 mt-sm-4">
                        <h4 class="__title h4">${{ index.dig-without-cloud }}$</h4>
                    </div>
                    <div class="spacer py-2"></div>
                    <div>
                        <p>${{ index.dig-without-cloud-content }}$</p>
                    </div>
                    <div class="spacer py-4"></div>
                </div>
            </div>

            <div class="col-12 col-lg-4 align-top text-center">
                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="200">
                <div class="mb-3 mb-sm-0">
                    <img alt="Certification" class="img-fluid" src="../img/oneiot/cert.png" width="70"/>
                </div>
                <div class="section-heading mt-lg-4 mt-sm-4">
                    <h4 class="__title h4">${{ index.cert }}$</h4>
                </div>
                <div class="spacer py-2"></div>
                <div>
                    <p>${{ index.cert-content }}$</p>
                </div>
                <div class="spacer py-4"></div>
                </div>
            </div>

            <div class="col-12 col-lg-4 align-top text-center">
                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="300">
                <div class="mb-3 mb-sm-0">
                    <img alt="Strong IoT partner" class="img-fluid" src="../img/oneiot/partner.png" width="70"/>
                </div>
                <div class="section-heading mt-lg-4 mt-sm-4">
                    <h4 class="__title h4">Starker Partner</h4>
                </div>
                <div class="spacer py-2"></div>
                <div>
                    <p>${{ index.custom-digitization-content }}$</p>
                </div>
                </div>
            </div>

        </div>
    </div>
</section>
