<section id="testimonials" class="section section--bg-img jarallax" data-speed="0.4" data-img-position="50% 70%">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="spacer d-none d-md-block py-4"></div>
                <div class="section-heading section-heading--white section-heading--left">
                    <h2 class="__title">${{ index.our-customers }}$</h2>
                    <p>${{ index.our-customers-content }}$.</p>
                </div>
            </div>
            <div class="spacer d-md-none py-6"></div>

            <div class="col-12 col-md-6">
                <div class="review review--s3 review--slider">
                    <div class="js-slick"
                         data-slick='{
											"autoplay": true,
											"arrows": false,
											"dots": true,
											"speed": 2500,
											"slidesToShow": 1,
											"dotsClass": "slick-dots slick-dots--white",
											"responsive": [
											{
												"breakpoint": 575,
												"settings":{
													"slidesToShow": 2
												}
											}]
										}'>

                        <!-- =================================================
                        ===== Review 1
                        ================================================== -->
                        <div class="review__item review__item--rounded review__item--shadow">
                            <div class="d-table">
                                <div class="d-table-cell align-middle">
                                    <figure class="review__item__author-image mr-4">
                                        <img width="50" height="50" src="" alt="demo" />
                                    </figure>
                                </div>
                                <div class="d-table-cell align-middle">
                                    <span class="review__item__author-name h5"><br>
                                        <span class="reviewer-company"> <a href="">@</a></span>
                                    </span>
                                </div>
                            </div>
                            <p>aaa aaaaaa aaaa aaa aaa aaa aaaaaa aaaa aaa aaa aaa aaaaaa aaaa aaa aaa</p>
                        </div>

                        <!-- =================================================
                        ===== Review 3
                        ================================================== -->
                        <div class="review__item review__item--rounded review__item--shadow">
                            <div class="d-table">
                                <div class="d-table-cell align-middle">
                                    <figure class="review__item__author-image mr-4">
                                        <img width="50" height="50" src="" alt="demo" />
                                    </figure>
                                </div>
                                <div class="d-table-cell align-middle">
                                    <span class="review__item__author-name h5"><br>
                                        <span class="reviewer-company"> <a href="">@</a></span>
                                    </span>
                                </div>
                            </div>
                            <p>aaa aaaaaa aaaa aaa aaa aaa aaaaaa aaaa aaa aaa aaa aaaaaa aaaa aaa aaa</p>
                        </div>

                        <!-- =================================================
                        ===== Review 3
                        ================================================== -->
                        <div class="review__item review__item--rounded review__item--shadow">
                            <div class="d-table">
                                <div class="d-table-cell align-middle">
                                    <figure class="review__item__author-image mr-4">
                                        <img width="50" height="50" src="" alt="demo" />
                                    </figure>
                                </div>
                                <div class="d-table-cell align-middle">
                                    <span class="review__item__author-name h5"><br>
                                        <span class="reviewer-company"> <a href="">@</a></span>
                                    </span>
                                </div>
                            </div>
                            <p>aaa aaaaaa aaaa aaa aaa aaa aaaaaa aaaa aaa aaa aaa aaaaaa aaaa aaa aaa</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="brands">
    <div class="container">
        <div class="brands-list">
            <div class="__inner">
                <div class="row justify-content-sm-around align-items-center">

                    <!-- =================================================
                    ===== Brand 1
                    ================================================== -->
                    <div class="col-6 col-sm-auto">
                        <div class="__item">
                            <figure class="__image">
                                <img class="img-fluid lazy" src="img/blank.gif" data-src="../img/brands/5.png"
                                     width="126" height="64" alt="demo"/>
                            </figure>
                        </div>
                    </div>

                    <!-- =================================================
                    ===== Brand 2
                    ================================================== -->
                    <div class="col-6 col-sm-auto">
                        <div class="__item">
                            <figure class="__image">
                                <img class="img-fluid lazy" src="img/blank.gif" data-src="../img/brands/4.png"
                                     width="100" height="89" alt="demo"/>
                            </figure>
                        </div>
                    </div>

                    <!-- =================================================
                    ===== Brand 3
                    ================================================== -->
                    <div class="col-6 col-sm-auto">
                        <div class="__item">
                            <figure class="__image">
                                <img class="img-fluid lazy" src="img/blank.gif" data-src="../img/brands/3.png"
                                     width="127" height="60" alt="demo"/>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
