<section class="section" id="brands-small">
    <div class="container">
        <div class="section-heading">
            <h6 class="__subtitle">${{ index.trusted-by }}$</h6>
        </div>
        <div class="row">
            <div class="col-12">

                <div class="brands-list">
                    <div class="__inner">
                        <div class="row justify-content-sm-around align-items-center">

                            <div class="col-6 col-sm-auto">
                                <div class="__item">
                                    <figure class="__image">
                                        <img class="img-fluid" src="../img/brands/udata-logo.png" width="200"  alt="UDATA GmbH" />
                                    </figure>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
