<section class="section capabilities" id="monitoring">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-lg-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading">
                    <h2 class="__title">${{ index.monitoring }}$<span></span></h2>
                </div>
                <div class="spacer py-4"></div>
                <div>
                    <p>${{ index.monitoring-content-p1 }}$</p>
                    <p>${{ index.monitoring-content-p2 }}$</p>
                    <div class="spacer py-6"></div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="__item  text-center">
                                <!-- Icon -->
                                <figure class="image-container">
                                    <img class="img-fluid" width="64" src="../img/oneiot/visibility.png" alt="Increased visibility"/>
                                </figure>

                                <!-- Content -->
                                <div class="__content">
                                    <div class="counter counter-capabilities"><div class="__count js-count" data-from="0" data-to="100" data-after-text="%">0</div></div>
                                    <div class="__title">${{ index.increased-visibility }}$</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="__item  text-center">
                                <!-- Icon -->
                                <figure class="image-container">
                                    <img class="img-fluid" width="64" src="../img/oneiot/reduce-cost.png" alt="Cost reductions"/>
                                </figure>

                                <!-- Content -->
                                <div class="__content">
                                    <div class="counter counter-capabilities"><div class="__count js-count" data-from="0" data-to="25" data-after-text="%">0</div></div>
                                    <div class="__title">${{ index.cost-reductions }}$</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="__item  text-center">
                                <!-- Icon -->
                                <figure class="image-container">
                                    <img class="img-fluid" width="64" src="../img/oneiot/data.png" alt="More data"/>
                                </figure>

                                <!-- Content -->
                                <div class="__content">
                                    <div class="counter counter-capabilities"><div class="__count js-count" data-from="0" data-to="" data-after-text="%">0</div></div>
                                    <div class="__title">${{ index.more-data }}$</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer py-4 d-lg-none"></div>
            <div class="col-12 col-lg-6  text-center text-lg-left">
                <figure class="image-container">
                    <img class="img-fluid" width="500" src="../img/oneiot/scooter.png" alt="iot partner" />
                </figure>
            </div>
        </div>
    </div>
</section>
