<section id="career-offer" class="section section--bg-img jarallax" data-speed="0.3" data-img-position="50% 60%">
    <div class="container">
        <div class="section-heading section-heading--white section-heading--center">
            <h2 class="__title"><span>We want </span> you</h2>
        </div>

        <div class="spacer py-10"></div>

        <div class="row">
            <div class="col-12">
                <div class="compare-table">
                    <div class="__inner">
                        <div class="row justify-content-sm-center">

                            <div class="col-12 col-sm-8 col-md-6 col-lg-5 d-sm-flex">
                                <div class="__item __item--rounded __item--shadow hardware-card-wifi">
                                    <div class="__header">
                                        <div class="d-table">
                                            <div class="d-table-cell align-middle">
                                                <figure class="image-container">
                                                    <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/sales-64.png" alt="Sales"/>
                                                </figure>
                                            </div>
                                            <div class="d-table-cell align-middle">
                                                <div class="__title h4">Account Manager</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="__body pt-7 font-size-16">
                                        <ul class="__desc-list check-list">
                                            <li><i class="ico-checked fontello-ok"></i>Sales & Marketing</li>
                                            <li><i class="ico-checked fontello-ok"></i>Extroversion</li>
                                            <li><i class="ico-checked fontello-ok"></i>Linguistic Competence</li>
                                            <li><i class="ico-checked fontello-ok"></i>Interested in Psychology & Technology</li>
                                        </ul>
                                        <div class="spacer py-5"></div>
                                        <a href="we-want-sales">
                                            <button class="custom-btn custom-btn--medium custom-btn--style-2 medium" role="button"
                                                    type="submit">Go
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8 col-md-6 col-lg-5 d-sm-flex">
                                <div class="__item __item--rounded __item--shadow hardware-card-cellular">
                                    <div class="__header">
                                        <div class="d-table">
                                            <div class="d-table-cell align-middle">
                                                <figure class="image-container">
                                                    <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/rocket-64.png" alt="DevOps"/>
                                                </figure>
                                            </div>
                                            <div class="d-table-cell align-middle">
                                                <div class="__title h4">DevOps Engineer</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="__body pt-7 font-size-16">
                                        <ul class="__desc-list check-list">
                                            <li><i class="ico-checked fontello-ok"></i>Cloud Computing</li>
                                            <li><i class="ico-checked fontello-ok"></i>Continuous Integration</li>
                                            <li><i class="ico-checked fontello-ok"></i>High level of automation</li>
                                            <li><i class="ico-checked fontello-ok"></i>Quality over Quantity</li>
                                        </ul>
                                        <div class="spacer py-5"></div>
                                        <p>
                                            Send us an informal motivation letter and your curriculum vitae to <a href="&#x20;&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x63;&#x61;&#x72;&#x65;&#x65;&#x72;&#x40;&#x6F;&#x6E;&#x65;&#x69;&#x6F;&#x74;&#x2E;&#x64;&#x65;">&#x63;&#x61;&#x72;&#x65;&#x65;&#x72;&#x40;&#x6F;&#x6E;&#x65;&#x69;&#x6F;&#x74;&#x2E;&#x64;&#x65;</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">
                <div class="compare-table">
                    <div class="__inner">
                        <div class="row justify-content-sm-center">

                            <div class="col-12 col-sm-8 col-md-6 col-lg-5 d-sm-flex">
                                <div class="__item __item--rounded __item--shadow hardware-card-2">
                                    <div class="__header">
                                        <div class="d-table">
                                            <div class="d-table-cell align-middle">
                                                <figure class="image-container">
                                                    <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/development-64.png" alt="Senior Software Engineer"/>
                                                </figure>
                                            </div>
                                            <div class="d-table-cell align-middle">
                                                <div class="__title h4">Junior Software Engineer</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="__body pt-7 font-size-16">
                                        <ul class="__desc-list check-list">
                                            <li><i class="ico-checked fontello-ok"></i>Frontend & Backend</li>
                                            <li><i class="ico-checked fontello-ok"></i>Profound knowledge in Java</li>
                                            <li><i class="ico-checked fontello-ok"></i>Optional: Knowledge in TypeScript & Angular</li>
                                            <li><i class="ico-checked fontello-ok"></i>Quality over Quantity</li>
                                        </ul>
                                        <div class="spacer py-5"></div>
                                        <p>
                                            Send us an informal motivation letter and your curriculum vitae to <a href="&#x20;&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x63;&#x61;&#x72;&#x65;&#x65;&#x72;&#x40;&#x6F;&#x6E;&#x65;&#x69;&#x6F;&#x74;&#x2E;&#x64;&#x65;">&#x63;&#x61;&#x72;&#x65;&#x65;&#x72;&#x40;&#x6F;&#x6E;&#x65;&#x69;&#x6F;&#x74;&#x2E;&#x64;&#x65;</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8 col-md-6 col-lg-5 d-sm-flex">
                                <div class="__item __item--rounded __item--shadow hardware-card-1">
                                    <div class="__header">
                                        <div class="d-table">
                                            <div class="d-table-cell align-middle">
                                                <figure class="image-container">
                                                    <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/development-64.png" alt="Junior Software Engineer"/>
                                                </figure>
                                            </div>
                                            <div class="d-table-cell align-middle">
                                                <div class="__title h4">Senior Software Engineer</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="__body pt-7 font-size-16">
                                        <ul class="__desc-list check-list">
                                            <li><i class="ico-checked fontello-ok"></i>Backend & Embedded</li>
                                            <li><i class="ico-checked fontello-ok"></i>Profound knowledge in Java (SpringBoot)</li>
                                            <li><i class="ico-checked fontello-ok"></i>Knowledge in Embedded Development</li>
                                            <li><i class="ico-checked fontello-ok"></i>Quality over Quantity</li>
                                        </ul>
                                        <div class="spacer py-5"></div>
                                        <p>
                                            Send us an informal motivation letter and your curriculum vitae to <a href="&#x20;&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x63;&#x61;&#x72;&#x65;&#x65;&#x72;&#x40;&#x6F;&#x6E;&#x65;&#x69;&#x6F;&#x74;&#x2E;&#x64;&#x65;">&#x63;&#x61;&#x72;&#x65;&#x65;&#x72;&#x40;&#x6F;&#x6E;&#x65;&#x69;&#x6F;&#x74;&#x2E;&#x64;&#x65;</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="spacer py-6"></div>-->

<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="compare-table">-->
<!--                    <div class="__inner">-->
<!--                        <div class="row justify-content-sm-center">-->

<!--                            <div class="col-12 col-sm-8 col-md-6 col-lg-5 d-sm-flex">-->
<!--                                <div class="__item __item&#45;&#45;rounded __item&#45;&#45;shadow hardware-card-2">-->
<!--                                    <div class="__header">-->
<!--                                        <div class="d-table">-->
<!--                                            <div class="d-table-cell align-middle">-->
<!--                                                <figure class="image-container">-->
<!--                                                    <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/student-64.png" alt="Student"/>-->
<!--                                                </figure>-->
<!--                                            </div>-->
<!--                                            <div class="d-table-cell align-middle">-->
<!--                                                <div class="__title h4">Students</div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="__body pt-7">-->
<!--                                        <ul class="__desc-list check-list">-->

<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-12 col-sm-8 col-md-6 col-lg-5 d-sm-flex">-->
<!--                                <div class="__item __item&#45;&#45;rounded __item&#45;&#45;shadow hardware-card-1">-->
<!--                                    <div class="__header">-->
<!--                                        <div class="d-table">-->
<!--                                            <div class="d-table-cell align-middle">-->
<!--                                                <figure class="image-container">-->
<!--                                                    <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/career-64.png" alt="Speculative Job Application"/>-->
<!--                                                </figure>-->
<!--                                            </div>-->
<!--                                            <div class="d-table-cell align-middle">-->
<!--                                                <div class="__title h4">Speculative Job Application</div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="__body pt-7">-->
<!--                                        <ul class="__desc-list check-list">-->

<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</section>
