<section class="section" id="cloud-why">
    <div class="container">

        <!-- =================================================
        ===== Hardware content with icons
        ================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-lg-center">
                    <div class="col-12 col-lg-6">
                        <div class="feature feature--s1  text-center text-sm-left">
                            <div class="__inner">

                                <!-- =================================================
                                ===== Item 1
                                ================================================== -->
                                <div class="__item">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="IoT center" class="img-fluid" src="../img/oneiot/cloud.png" width="70"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.digital-main-center }}$</h4>
                                            <p>${{ index.digital-main-center-content }}$</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                               ===== Item 2
                               ================================================== -->
                                <div class="__item">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="Cloud hosting" class="img-fluid" src="../img/oneiot/server.png" width="70"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.hosting-cloud }}$</h4>
                                            <p>${{ index.hosting-cloud-content }}$</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                ===== Item 3
                                ================================================== -->
                                <div class="__item">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="Scalability" class="img-fluid" src="../img/oneiot/analytics.png" width="70"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.scalable-cloud }}$</h4>
                                            <p>${{ index.scalable-cloud-content }}$</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="spacer py-5 d-lg-none"></div>

                    <!-- =================================================
                    ===== Image
                    ================================================== -->
                    <div class="col-12 col-lg-6  text-center text-lg-right">
                        <figure class="image-container">
                            <img class="img-fluid" width="547" height="567" src="../img/oneiot/cloud-view.png" alt="Cloud" />
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
