<section class="section">
    <div class="container">
        <div class="row flex-lg-row-reverse justify-content-md-center align-items-lg-center">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading section-heading--left">
                    <h2 class="__title">Managed <span> Cloud</span></h2>
                    <p>
                        Sie erhalten Zugriff auf unsere Managed Cloud und profitieren von vielen Vorteilen der Automatisierung.
                        Verbinden Sie unser Gateway und Sie können direkt loslegen. Es ist keine kostspielige Infrastruktur, Wartung und IT-Abteilung notwendig
                    </p>
                    <ul class="check-list my-md-6">
                        <li><i class="ico-checked fontello-ok"></i>Out-of-the-box</li>
                        <li><i class="ico-checked fontello-ok"></i>${{ index.scales-automatically }}$</li>
                        <li><i class="ico-checked fontello-ok"></i>${{ index.easy-maintenance }}$</li>
                        <li><i class="ico-checked fontello-ok"></i>${{ index.low-costs }}$</li>
                    </ul>
                </div>
            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-lg-6 text-center text-lg-left">
                <figure class="image-container">
                    <img class="img-fluid" src="../img/oneiot/ship.png" alt="Public Cloud" />
                </figure>
            </div>
        </div>
    </div>
</section>
