<section class="section section-bg-light-dark">
    <div class="container">
        <div class="row flex-lg-row justify-content-md-center align-items-lg-center">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading section-heading--left">
                    <h2 class="__title">LoRaWAN <span>Gateway Kommunikation</span></h2>
                </div>
                <p>
                    Das Low Power Wide Area Network (LoRaWAN) Kommunikationsprotokoll ist ideal geeignet, um eine hohe Energieeffezienz und eine
                    extrem große Reichweite zu gewährleisten. Es eignet sich daher hervorragend für IoT Anwendungen im Outdoor Bereich, in denen
                    keine Stromleitungen zur Verfügung stehen.
                </p>

                <p>
                    Akkubetriebene Sensoren können dank LoRaWAN bis zu 5+ Jahre per Funk mit einem Gateway kommunizieren.
                    Die Sensoren können nach belieben bis zu mehreren 100 Meter in Gateway-Entfernung plaziert werden und kommunizieren zuverlässig mit der Cloud
                </p>
                <ul class="check-list my-md-6">
                    <li><i class="ico-checked fontello-ok"></i>Einfache Installation</li>
                    <li><i class="ico-checked fontello-ok"></i>Hohe Reichweite</li>
                    <li><i class="ico-checked fontello-ok"></i>Geringer Energieverbrauch</li>
                    <li><i class="ico-checked fontello-ok"></i>Geringe Kosten</li>
                </ul>
            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-lg-6 text-center text-lg-right">
                <figure class="image-container">
                    <img class="img-fluid" src="../img/oneiot/gateway.png" alt="Gateway" />
                </figure>
            </div>
        </div>
    </div>
</section>
