<div class="alert alert-dismissible text-center cookiealert" role="alert">
    <div class="row">
        <div class="col-lg-6 text-center cookie-alert-col">
            <div class="cookiealert-container">
                &#x1F36A; ${{ index.cookie-alert-p1 }}$ <a href="privacy">${{ index.cookie-alert-p2 }}$</a> ${{ index.cookie-alert-p3 }}$
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
                ${{ index.agree }}$
            </button>
        </div>
    </div>
</div>
