<section id="dashboard-features" class="section section--bg-img">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading section-heading--center">
                        <h2 class="__title">Feature<span></span></h2>
                        <div class="spacer py-1"></div>
                    </div>

                    <div class="spacer py-8"></div>

                    <div class="steps">
                        <div class="__inner">
                            <div class="row">

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/setting-64.png" alt="Management"/>
                                        </figure>
                                        <h4 class="__title">${{ index.fleet-management }}$</h4>
                                        <p>${{ index.management-content-feature }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/keyboard-64.png" alt="Maintenance"/>
                                        </figure>
                                        <h4 class="__title">${{ index.remote-maintenance }}$</h4>
                                        <p>${{ index.remote-maintenance-feature }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/bell-64.png" alt="Alerts"/>
                                        </figure>
                                        <h4 class="__title">${{ index.alerts }}$</h4>
                                        <p>${{ index.alerts-txt }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                            <figure class="image-container">
                                                <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/update-64.png" alt="OTA update"/>
                                            </figure>
                                        <h4 class="__title">${{ index.ota }}$</h4>
                                        <p>${{ index.ota-content-feature }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/key-64.png" alt="Roles"/>
                                        </figure>
                                        <h4 class="__title">${{ index.roles-and-access }}$</h4>
                                        <p>${{ index.roles-and-access-content }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/uptime.png" alt="Real time"/>
                                        </figure>
                                        <h4 class="__title">${{ index.realtime }}$</h4>
                                        <p>${{ index.realtime-content }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/analytics-64.png" alt="Analytics"/>
                                        </figure>
                                        <h4 class="__title">${{ index.analytics }}$</h4>
                                        <p>${{ index.analytics-content-feature }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/pensil.png" alt="Branding"/>
                                        </figure>
                                        <h4 class="__title">${{ index.branding }}$</h4>
                                        <p>${{ index.branding-content }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/repair.png" alt="Customizing"/>
                                        </figure>
                                        <h4 class="__title">${{ index.customizing }}$</h4>
                                        <p>${{ index.customizing-content }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/app-web-64.png" alt="Web and app"/>
                                        </figure>
                                        <h4 class="__title">Web & App</h4>
                                        <p>${{ index.webapp-content }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/cloud-64.png" alt="Hosting"/>
                                        </figure>
                                        <h4 class="__title">${{ index.hosting }}$</h4>
                                        <p>${{ index.hosting-content }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

<!--                                <div class="col-12 col-md-4 text-center">-->
<!--                                    <div class="__item">-->
<!--                                        <figure class="image-container">-->
<!--                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/smart-home-64.png" alt="Smart home"/>-->
<!--                                        </figure>-->
<!--                                        <h4 class="__title">${{ index.smart-home }}$</h4>-->
<!--                                        <p>${{ index.smart-home-content-feature }}$</p>-->
<!--                                    </div>-->
<!--                                    <div class="spacer py-4"></div>-->
<!--                                </div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
