<div class="start-screen start-screen--style-4" id="start-screen">

    <!-- =================================================
    ===== Background
    ================================================== -->
    <div class="start-screen__bg-container">
        <div class="start-screen__bg"
             style="background-color: #2368fb; background-position: center bottom"></div>
    </div>

    <!-- =================================================
    ===== Slogan
    ================================================== -->
    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center text-center">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-12 col-md-11">
                        <h1 class="text-white">Dashboard auf Ihre Unternehmensprozesse anpassen.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
