<section class="section section-bg-light-dark">
    <div class="container">
        <div class="row flex-lg-row justify-content-md-center align-items-lg-center">
            <div class="col-12 col-md-10 col-lg-5">
                <div class="section-heading section-heading--left">
                    <h2 class="__title">Device <span> Cloud</span></h2>
                    <p>
                        Die Device Cloud kümmert sich um eine schnelle und sichere Verbindung aller IoT-Endpunkte mit der Cloud.
                        Es lassen sich beliebig viele Geräte verbinden, dabei skaliert die Device Cloud zuverlässig auch bei Millionen von Geräten.

                    </p>
                    <ul class="check-list my-md-6">
                        <li><i class="ico-checked fontello-ok"></i>Skalierbar</li>
                        <li><i class="ico-checked fontello-ok"></i>Secure MQTT</li>
                        <li><i class="ico-checked fontello-ok"></i>Zuverlässig Kommunikation</li>
                        <li><i class="ico-checked fontello-ok"></i>Sichere Geräteidentität</li>
                    </ul>
                </div>

            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-lg-7 text-center text-lg-right">
                <figure class="image-container">
                    <img class="img-fluid" src="../img/oneiot/laptop-device-cloud.png" alt="Device Cloud Dashboard" />
                </figure>
            </div>
        </div>
    </div>
</section>
