<section class="section" id="dashboard">
    <div class="container">

        <!-- =================================================
        ===== Why title
        ================================================== -->
        <div class="section-heading section-heading--center">
            <h2 class="__title">${{ index.dashboard }}$. <span>${{ index.dashboard-slogan }}$</span></h2>
            <div class="spacer py-1"></div>
        </div>

        <div class="spacer py-8"></div>


            </div>
        </div>
    </div>
</section>
