<section class="section" id="ecosystem">
    <div class="container">

        <!-- =================================================
        ===== Ecosystem header
        ================================================== -->
        <div class="section-heading section-heading--center">
            <h2 class="__title">IoT ${{ index.ecosystem }}$. <span>OneIoT, ${{ index.one-solution }}$</span></h2>
            <p class="slogan-txt">
                ${{ index.ecosystem-slogan }}$
            </p>
        </div>

        <div class="spacer py-12"></div>

        <div class="row">

            <!-- =================================================
            ===== Ecosystem image
            ================================================== -->
            <div class="col-12 col-lg-8 col-xl-6 pl-10 pr-10">
                <img alt="demo" class="img-fluid" src="../img/oneiot/oneiot-ecosystem.png" width="100%"/>
            </div>

            <div class="spacer py-6 d-xl-none"></div>

            <!-- =================================================
            ===== Ecosystem details
            ================================================== -->
            <div class="col-12 col-xl-6 pl-10 pr-10">
                <div class="content-container">
                    <div class="faq">
                        <div class="accordion-container">

                            <!-- =================================================
                            ===== Device cloud
                            ================================================== -->
                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.device-cloud }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        <p>
                                            ${{ index.device-cloud-content-p1 }}$
                                        </p>
                                        <p>
                                            ${{ index.device-cloud-content-p2 }}$
                                        </p>
                                    </div>
                                </article>
                            </div>

                            <!-- =================================================
                             ===== Management
                             ================================================== -->
                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.management }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        <p>
                                            ${{ index.management-content-p1 }}$
                                        </p>
                                        <p>
                                            ${{ index.management-content-p2 }}$
                                        </p>
                                    </div>
                                </article>
                            </div>

                            <!-- =================================================
                             ===== Data Lake
                             ================================================== -->
                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.data-lake }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        <p>
                                            ${{ index.data-lake-content-p1 }}$
                                        </p>
                                        <p>
                                            ${{ index.data-lake-content-p2 }}$
                                        </p>
                                    </div>
                                </article>
                            </div>

                            <!-- =================================================
                             ===== Analytics
                             ================================================== -->
                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.analytics }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        <p>
                                            ${{ index.analytics-content-p1 }}$
                                        </p>
                                        <p>
                                            ${{ index.analytics-content-p2 }}$
                                        </p>
                                    </div>
                                </article>
                            </div>

                            <!-- =================================================
                             ===== Dashboard
                             ================================================== -->
                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.dashboard }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        <p>
                                            ${{ index.dashboard-content-p1 }}$
                                        </p>
                                        <p>
                                            ${{ index.dashboard-content-p2 }}$
                                        </p>
                                    </div>
                                </article>
                            </div>

                            <!-- =================================================
                             ===== API
                             ================================================== -->
                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.api }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        <p>
                                            ${{ index.api-content }}$
                                        </p>
                                    </div>
                                </article>
                            </div>

                            <!-- =================================================
                             ===== Smart Home
                             ================================================== -->
                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.smart-home }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        <p>
                                            ${{ index.smart-home-content-p1 }}$
                                        </p>
                                        <p>
                                            ${{ index.smart-home-content-p2 }}$
                                        </p>
                                    </div>
                                </article>
                            </div>

                            <!-- =================================================
                             ===== Plugins
                             ================================================== -->
                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.plugins }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        <p>
                                            ${{ index.plugins-content }}$
                                        </p>
                                    </div>
                                </article>
                            </div>

                            <!-- =================================================
                            ===== Hardware
                            ================================================== -->
                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.hardware }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        <p>
                                            ${{ index.hardware-content-p1 }}$
                                        </p>
                                        <p>
                                            ${{ index.hardware-content-p2 }}$
                                        </p>
                                    </div>
                                </article>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
