<footer class="footer footer--s3 footer--color-dark">
    <div class="footer__line footer__line--first">
        <div class="container">
            <div class="row">

                <!-- =================================================
                ===== Company links
                ================================================== -->
                <div class="col col-sm-5 col-md-3 col-lg-3">
                    <div class="footer__item">
                        <h4 class="footer__item__title">${{ index.company }}$</h4>
                        <nav class="footer__navigation">
                            <ul>
                                <li>
                                    <a href="career"> ${{ index.careers }}$</a>
                                </li>
                                <li>
                                    <a data-toggle="modal" data-target="#contact-modal"> ${{ index.contact }}$</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- =================================================
                ===== Resources links
                ================================================== -->
                <div class="col col-sm-5 col-md-3 col-lg-3">
                    <div class="footer__item">
                        <h4 class="footer__item__title">${{ index.resources }}$</h4>
                        <nav class="footer__navigation">
                            <ul>
                                <li>
                                    <a href="help-desk">${{ index.help-center }}$</a>
                                </li>
                                <li>
                                    <a href="https://github.com/1IoT" target="_blank">Open Source</a>
                                </li>
                                <li>
                                    <a target="_blank" href="${{ config.blog-link }}$">${{ index.blog }}$</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col col-sm-5 col-md-3 col-lg-3">
                    <div class="footer__item">
                        <h4 class="footer__item__title">Lösungen</h4>
                        <nav class="footer__navigation">
                            <ul>
                                <li><a href="gateway">Gateway</a></li>
                                <li><a href="hardware">Hardware</a></li>
                                <li><a href="cloud">Cloud</a></li>
                                <li><a href="dashboard">Dashboard</a></li>
<!--                                <li><a href="connectivity-cloud">Cloud Verbindung</a></li>-->
<!--                                <li><a href="connectivity-hardware">Hardware Integration</a></li>-->
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col col-sm-5 col-md-3 col-lg-3">
                    <div class="footer__item">
                        <h4 class="footer__item__title">${{ index.industries }}$</h4>
                        <nav class="footer__navigation">
                            <ul>
                                <li><a href="gassupply">Gasindustrie</a></li>
                                <li><a href="healthcare">${{ index.healthcare }}$</a></li>
                                <li><a href="agriculture">${{ index.agriculture }}$</a></li>
                                <li><a href="environment">${{ index.environment }}$ & Smart City</a></li>
                                <li><a href="measurement">${{ index.measuring-instruments }}$</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

<!--                &lt;!&ndash; =================================================-->
<!--                ===== Newsletter subscription-->
<!--                ================================================== &ndash;&gt;-->
<!--                <div class="col-12 col-md-8 col-lg-5 col-xl-5 offset-xl-1">-->
<!--                    <div class="footer__item">-->
<!--                        <h4 class="footer__item__title">${{ index.subscribe }}$</h4>-->
<!--                        <form class="form&#45;&#45;horizontal" id="newsletter-form" novalidate="novalidate">-->
<!--                            <p class="mb-4">${{ index.subscribe-slogan }}$</p>-->
<!--                            <div class="row no-gutters">-->
<!--                                <div class="col-12 col-sm">-->
<!--                                    <div class="input-wrp form-group">-->
<!--                                        <input autocomplete="on"-->
<!--                                               class="textfield textfield&#45;&#45;grey newsletter-form-email"-->
<!--                                               data-validation-required-message="${{ index.please-enter-mail }}$"-->
<!--                                               name="email" placeholder="E-Mail" required="required"-->
<!--                                               type="text" type="email"/>-->
<!--                                        <p class="help-block text-danger mt-4"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12 col-sm-auto">-->
<!--                                    <button class="custom-btn custom-btn&#45;&#45;medium custom-btn&#45;&#45;style-2 wide form-submit"-->
<!--                                            name="submit"-->
<!--                                            role="button" type="submit">${{ index.submit }}$-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div id="success-newsletter"></div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->

            </div>
        </div>
    </div>

    <!-- =================================================
    ===== Bottom bar on footer
    ================================================== -->
    @@include('footer-bot-bar.html')

</footer>
