<section id="hardware-features" class="section section--bg-img">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading section-heading--center">
                        <h2 class="__title">Feature <span></span></h2>
                        <div class="spacer py-1"></div>
                    </div>

                    <div class="spacer py-8"></div>

                    <div class="steps">
                        <div class="__inner">
                            <div class="row">

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/cellular-64.png" alt="LoRaWAN"/>
                                        </figure>
                                        <h4 class="__title">Konnektivität</h4>
                                        <p>Kommuniziert per Ethernet, WiFi oder Mobilfunk mit der Cloud. Externe Produkte, Geräte und Sensoren können via serieller Schnittstelle oder per LoRaWAN verbunden werden</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/update-64.png" alt="OTA update"/>
                                        </figure>
                                        <h4 class="__title">${{ index.ota }}$</h4>
                                        <p>
                                            Die Firmware aller Geräte lassen sich einfach über das Dashboard aktualisieren. So können neue Funktionen effizient getestet und verteilt werden
                                        </p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/plugnplay-64.png" alt="Plug and play"/>
                                        </figure>
                                        <h4 class="__title">${{ index.plug-and-play }}$</h4>
                                        <p>
                                            Das Gateways ermöglicht eine IoT Lösung Out-Of-The-Box mit minimalem Zeitaufwand und ohne Programmierkenntnisse
                                        </p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/development-64.png" alt="Operating system"/>
                                        </figure>
                                        <h4 class="__title">${{ index.operating-system }}$</h4>
                                        <p>
                                            Das Gateway ist mit dem 4.0 OneIoT-Betriebssystem ausgestattet, das sich um die komplette IoT Integration kümmert
                                        </p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/secure-64.png" alt="Security"/>
                                        </figure>
                                        <h4 class="__title">${{ index.security }}$</h4>
                                        <p>${{ index.security-content-hardware-feature }}$</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/battery-64.png" alt="Low Power"/>
                                        </figure>
                                        <h4 class="__title">Low Power</h4>
                                        <p>Die integrierten LPWAN Protokolle sorgen für einen extrem niedrigen Energieverbrauch bei gleichzeit großer Kommunikationsreichweite</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/setting-64.png" alt="Configuration"/>
                                        </figure>
                                        <h4 class="__title">Configuration</h4>
                                        <p>Konfigurationen können während der Laufzeit angepasst werden, um das Gateway für Ihren Anwendungsfall anzupassen</p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                                <div class="col-12 col-md-4 text-center">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/career-64.png" alt="Certificates"/>
                                        </figure>
                                        <h4 class="__title">Zertifizierung</h4>
                                        <p>
                                            Das Gateway besitzt alle notwendigen Zertifizierungen mit, wir kümmern uns gerne zusätzlich um branchenspezifische Zertifizierungen
                                        </p>
                                    </div>
                                    <div class="spacer py-4"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
