<section class="section section-bg-light-dark">
    <div class="container">
        <div class="row flex-lg-row-reverse justify-content-md-center align-items-lg-center">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading section-heading--left">
                      <h2 class="__title">Plug & Play <span>LoRaWAN Sensoren</span></h2>
                </div>
                <p>
                    Legen Sie sofot los ohne Programmieraufwand. Die Sensoren lassen sich dank unserer kostenloses App mit dem Gateway verbinden.
                    Einfach das Gateway aufstellen, Sensoren registrieren und schon kommunizieren die Sensoren per LoRaWAN mit dem Gateway.
                    Die Daten lassen sich direkt über das Dashboard auslesen
                </p>
                <ul class="check-list my-md-6">
                    <li><i class="ico-checked fontello-ok"></i>Ready-To-Use IoT Lösung</li>
                    <li><i class="ico-checked fontello-ok"></i>Keine Aufwände & Geringe Kosten</li>
                    <li><i class="ico-checked fontello-ok"></i>Funkreichweite bis zu 15km</li>
                    <li><i class="ico-checked fontello-ok"></i>Akkulaufzeit bis zu 3+ Jahre ohne externe Stromquelle</li>
                    <li><i class="ico-checked fontello-ok"></i>Hohe Gebäudedurchdringung</li>
                </ul>
            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-lg-6 text-center text-lg-left">
                <figure class="image-container">
                    <img class="img-fluid d-none d-lg-block img-rounded shadow" width="500"  src="../img/oneiot/agriculture-conn.png" alt="LoRaWAN Gateway and Sensor" />
                </figure>
                <figure class="image-container">
                    <img class="img-fluid d-none d-lg-block img-rounded shadow" width="500"  src="../img/oneiot/port-conn.png" alt="LoRaWAN Gateway and Sensor" />
                </figure>
            </div>
        </div>
    </div>
</section>
