<section id="hardware-connectivity" class="section section--bg-img jarallax" data-speed="0.3" data-img-position="50% 60%">
    <div class="container">
        <div class="section-heading section-heading--white section-heading--center">
            <h2 class="__title">${{ index.connectivity }}$<span> mit der Cloud</span></h2>
        </div>

        <div class="spacer py-10"></div>

        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <div class="__item">
                    <figure class="image-container">
                        <img class="img-fluid" width="64" src="../img/oneiot/wired-64.png" alt="Ethernet"/>
                    </figure>
                    <h4 class="__title">Ethernet</h4>
                    <p>${{ index.gateway-ethernet-txt }}$</p>
                </div>
                <div class="spacer py-4"></div>
            </div>

            <div class="col-12 col-md-4 text-center">
                <div class="__item">
                    <figure class="image-container">
                        <img class="img-fluid" width="64" src="../img/oneiot/router-64.png" alt="WiFi"/>
                    </figure>
                    <h4 class="__title">WiFi</h4>
                    <p>${{ index.gateway-mobile-txt }}$</p>
                </div>
                <div class="spacer py-4"></div>
            </div>

            <div class="col-12 col-md-4 text-center">
                <div class="__item">
                    <figure class="image-container">
                        <img class="img-fluid" width="64" src="../img/oneiot/cellular-64.png" alt="Cellular"/>
                    </figure>
                    <h4 class="__title">${{ index.cellular }}$</h4>
                    <p>${{ index.gateway-mobile-nbiot-txt }}$</p>
                </div>
                <div class="spacer py-4"></div>
            </div>
        </div>

    </div>
</section>
