<section class="section section-bg-light-dark">
    <div class="container">
        <div class="row flex-lg-row justify-content-md-center align-items-lg-center">
            <div class="col-12 col-md-10 col-lg-7">
                <div class="section-heading section-heading--left">
                      <h2 class="__title">Gateway <span> 4.0</span></h2>
                </div>
                <p>
                    Das All-in-One Gateway garantiert eine einfache und zuverlässige Digitalisierung.
                    Einfach anschließen und direkt loslegen
                </p>

                <div class="mt-9">
                    <div class="services services--s4">
                        <div class="__inner">
                            <div class="row">

                                <div class="col-12 col-sm-6">
                                    <div class="__item">
                                            <div class="align-middle">
                                                <figure class="image-container">
                                                    <img class="img-fluid" width="64" src="../img/oneiot/development-64.png" alt="IoT Operating System"/>
                                                </figure>
                                            </div>
                                            <div class="align-middle">
                                                <h4 class="__title">IoT Betriebssystem</h4>
                                                <p>Das Gateway wird mit der Power des OneIoT Betriebssystems geliefert</p>
                                            </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="__item">
                                        <div class="align-middle">
                                            <figure class="image-container">
                                                <img class="img-fluid" width="64" src="../img/oneiot/plugnplay-64.png" alt="Plug & Play"/>
                                            </figure>
                                        </div>
                                        <div class="align-middle">
                                            <h4 class="__title">Plug & Play</h4>
                                            <p>
                                                Das Plug & Play Konzept ermöglicht eine direkte Umsetzung für Ihre Lösung
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="__item">
                                        <div class="align-middle">
                                            <figure class="image-container">
                                                <img class="img-fluid" width="64" src="../img/oneiot/brain-sensor-64.png" alt="Connect Sensors"/>
                                            </figure>
                                        </div>
                                        <div class="align-middle">
                                            <h4 class="__title">Verbinde Sensoren</h4>
                                            <p>Sensoren lassen sich über die serielle Schnittstelle oder per LoRaWAN mit dem Gateway verbinden</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="__item">
                                            <div class="align-middle">
                                                <figure class="image-container">
                                                    <img class="img-fluid" width="64" src="../img/oneiot/rocket-64.png" alt="Digitization"/>
                                                </figure>
                                            </div>
                                            <div class="align-middle">
                                                <h4 class="__title">Produktdigitalisierung</h4>
                                                <p>
                                                    Per serieller Schnittstelle lassen sich auch andere Geräte und Produkte verbinden,
                                                    die über das Gateway digitalisiert werden können
                                                </p>
                                            </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-lg-5 text-center text-lg-right">
                <figure class="image-container">
                    <img class="img-fluid d-none d-lg-block" width="400" height="585" src="../img/oneiot/gateway.png" alt="Gateway" />
                </figure>
            </div>
        </div>
    </div>
</section>
