<section class="section" id="hardware-why">
    <div class="container">

        <!-- =================================================
        ===== Hardware content with icons
        ================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-lg-center">
                    <div class="col-12 col-lg-6">
                        <div class="feature feature--s1  text-center text-sm-left">
                            <div class="__inner">

                                <!-- =================================================
                                ===== Item 1
                                ================================================== -->
                                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="100">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="WiFi and cellular" class="img-fluid" src="../img/oneiot/house-and-field.png" width="75"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.inside-and-outside-hardware }}$</h4>
                                            <p>${{ index.inside-and-outside-content-hardware }}$</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                               ===== Item 3
                               ================================================== -->
                                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="200">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="Cost efficient" class="img-fluid" src="../img/oneiot/piggy-bank.png" width="70"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.cost-efficient }}$</h4>
                                            <p>${{ index.cost-efficient-content-hardware }}$</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                ===== Item 2
                                ================================================== -->
                                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="300">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="Software updates" class="img-fluid" src="../img/oneiot/update.png" width="65"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.software-updates }}$</h4>
                                            <p>${{ index.software-updates-content-hardware }}$</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                ===== Item 3
                                ================================================== -->
                                <div class="__item" data-aos="fade" data-aos-offset="100" data-aos-duration="400" data-aos-delay="400">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="Security" class="img-fluid" src="../img/oneiot/security.png" width="70"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.secure }}$</h4>
                                            <p>${{ index.security-hardware-content }}$</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="spacer py-5 d-lg-none"></div>

                    <!-- =================================================
                    ===== Image
                    ================================================== -->
                    <div class="col-12 col-lg-6 text-center text-lg-right">
                        <figure class="image-container"  data-aos="fade-left" data-aos-offset="100" data-aos-duration="500" data-aos-delay="200">
                            <img class="img-fluid" src="../img/oneiot/hardware.png" alt="Hardware" />
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
