<section id="hardware-features" class="section section--bg-img">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading section-heading--center">
                        <h2 class="__title">${{ index.features }}$ <span></span></h2>
                        <div class="spacer py-1"></div>
                    </div>

                    <div class="spacer py-8"></div>

                    <div class="steps steps--s3">
                        <div class="__inner">
                            <div class="row">

                                <div class="col-12 col-md-4">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/router-64.png" alt="WiFi"/>
                                        </figure>
                                        <h4 class="__title">${{ index.wifi }}$</h4>
                                        <p>${{ index.wifi-content-hardware }}$</p>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="__item">
                                            <figure class="image-container">
                                                <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/cellular-64.png" alt="Cellular"/>
                                            </figure>
                                        <h4 class="__title">${{ index.cellular }}$</h4>
                                        <p>${{ index.cellular-content-hardware }}$</p>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/update-64.png" alt="OTA update"/>
                                        </figure>
                                        <h4 class="__title">${{ index.ota }}$</h4>
                                        <p>${{ index.over-the-air-updates-content-hardware }}$</p>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/plugnplay-64.png" alt="Plug and play"/>
                                        </figure>
                                        <h4 class="__title">${{ index.plug-and-play }}$</h4>
                                        <p>${{ index.plug-and-play-content-hardware }}$</p>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/setting-64.png" alt="Operating system"/>
                                        </figure>
                                        <h4 class="__title">${{ index.operating-system }}$</h4>
                                        <p>${{ index.operating-system-content-hardware }}$</p>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/secure-64.png" alt="Security"/>
                                        </figure>
                                        <h4 class="__title">${{ index.security }}$</h4>
                                        <p>${{ index.security-content-hardware-feature }}$</p>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="__item">
                                        <figure class="image-container">
                                            <img class="img-fluid img-fluid-small" width="64" src="../img/oneiot/smart-home-64.png" alt="Branding"/>
                                        </figure>
                                        <h4 class="__title">${{ index.smart-home-installation }}$</h4>
                                        <p>${{ index.smart-home-installation-content-hardware }}$</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
