<div id="start-screen" class="start-screen start-screen--full-height start-screen--style-1">
    <div class="start-screen__bg-container">
        <div class="start-screen__bg"
             style="background-image: url(../img/oneiot/bg-header.png);background-position: center bottom;"></div>
    </div>

    <div class="start-screen__shapes  d-none d-lg-block">

    </div>

    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-6">
                        <h1 class="text-white">There is only one IoT custom solution. OneIoT.</h1>
                        <p class="text-white">Join the bright side of digitisation.</p>
                        <div class="spacer py-2 py-sm-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

