<div class="top-bar__collapse">

    <!-- =================================================
    ===== Main navigation
    ================================================== -->
    <nav class="top-bar__navigation" id="top-bar__navigation" role="navigation">
        <ul>
            <li><a class="nav-link" href="./#why">${{ index.why }}$</a></li>
            <li><a class="nav-link" href="./#usecases">${{ index.use-cases }}$</a></li>
            <li><a class="nav-link" href="./#ecosystem">IoT ${{ index.ecosystem }}$</a></li>
            <li><a class="nav-link" href="./#solution">${{ index.custom-solution }}$</a></li>
            <li><a class="nav-link" href="./#pricing">${{ index.pricing }}$</a></li>
            <li><a class="nav-link" href="./#contact">${{ index.contact }}$</a></li>
        </ul>
    </nav>

    <!-- =================================================
    ===== Action navigation
    ================================================== -->
    <div class="top-bar__action" id="top-bar__action">
        <div class="d-xl-flex flex-xl-row flex-xl-wrap align-items-xl-center">

            <!-- =================================================
            ===== Language chooser
            ================================================== -->
            <div class="top-bar__choose-lang js-choose-lang">
                ${{ config.current-lang }}$
                <div class="list-wrap">
                    <ul class="list">
                        <li class="${{ config.current-lang-en-active }}$" data-img="../img/ico/en.png"
                            data-short-name="${{ index.en }}$">
                            <a href="../en/">
                                <span>${{ index.english }}$</span>
                            </a>
                        </li>
                        <li class="${{ config.current-lang-ger-active }}$" data-img="../img/ico/de.png"
                            data-short-name="${{ index.ger }}$">
                            <a href="../de/">
                                <span>${{ index.german }}$</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- =================================================
            ===== Platform links
            ================================================== -->
            <div class="top-bar__auth-btns">
                <a class="custom-btn custom-btn--medium custom-btn--style-2" href="https://app.oneiot.de">${{
                    index.sign-in }}$</a>
            </div>

        </div>
    </div>
</div>
