<div class="top-bar__collapse">

    <!-- =================================================
    ===== Main navigation
    ================================================== -->
    <nav class="top-bar__navigation" id="top-bar__navigation" role="navigation">
        <ul>
            <li class="has-submenu">
                <a class="nav-link" href="capabilities">${{ index.capabilities }}$</a>
                <ul class="submenu">
                    <li><a href="capabilities#controlling">${{ index.control }}$</a></li>
                    <li><a href="capabilities#monitoring">${{ index.monitoring }}$</a></li>
                    <li><a href="capabilities#maintenance">${{ index.maintenance }}$</a></li>
                    <li><a href="capabilities#smart-home">${{ index.smart-home }}$</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a class="nav-link">${{ index.product }}$</a>
                <ul class="submenu">
                    <li><a href="dashboard">${{ index.dashboard }}$</a></li>
                    <li><a href="hardware">${{ index.hardware }}$</a></li>
                    <li><a href="cloud">${{ index.cloud }}$</a></li>
                    <li><a href="api">${{ index.api }}$</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a class="nav-link" href="service">${{ index.service }}$</a>
                <ul class="submenu">
                    <li><a href="service#consulting">${{ index.consulting }}$</a></li>
                    <li><a href="service#prototyping">${{ index.prototyping }}$</a></li>
                    <li><a href="service#integration">${{ index.iot-integration }}$</a></li>
                    <li><a href="service#support">${{ index.support }}$</a></li>
                </ul>
            </li>
            <li><a class="nav-link" target="_blank" href="${{ config.blog-link }}$">${{ index.blog }}$</a></li>
<!--            <li><a class="nav-link" href="">${{ index.pricing }}$</a></li>-->
            <li><a class="nav-link" data-toggle="modal" data-target="#contact-modal">${{ index.contact }}$</a></li>
        </ul>
    </nav>

    <!-- =================================================
    ===== Action navigation
    ================================================== -->
    <div class="top-bar__action" id="top-bar__action">
        <div class="d-xl-flex flex-xl-row flex-xl-wrap align-items-xl-center">

            <!-- =================================================
            ===== Language chooser
            ================================================== -->
            <div class="top-bar__choose-lang js-choose-lang">
                ${{ config.current-lang }}$
                <div class="list-wrap">
                    <ul class="list">
                        <li class="${{ config.current-lang-en-active }}$" data-img="../img/ico/en.png"
                            data-short-name="${{ index.en }}$">
                            <a href="../en/">
                                <span>${{ index.english }}$</span>
                            </a>
                        </li>
                        <li class="${{ config.current-lang-ger-active }}$" data-img="../img/ico/de.png"
                            data-short-name="${{ index.ger }}$">
                            <a href="../de/">
                                <span>${{ index.german }}$</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- =================================================
            ===== Platform links
            ================================================== -->
<!--            <div class="">-->
<!--                <a href="">Login</a>-->
<!--            </div>-->
<!--            <div class="top-bar__auth-btns">-->
<!--                <a class="custom-btn custom-btn&#45;&#45;medium custom-btn&#45;&#45;style-2"-->
<!--                   href="https://app.oneiot.de">${{ index.register }}$</a>-->
<!--            </div>-->

        </div>
    </div>
</div>
