<section class="section">
    <div class="container">

        <div class="section-heading section-heading--center">
            <h2 class="__title">${{ index.frequently }}$ <span>${{ index.asked-questions }}$</span></h2>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">
                <div class="content-container">
                    <div class="faq">
                        <div class="accordion-container">

                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.faq-17-title }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        ${{ index.faq-17-content }}$
                                    </div>
                                </article>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.faq-16-title }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        ${{ index.faq-16-content }}$
                                    </div>
                                </article>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.faq-8-title }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        ${{ index.faq-8-content }}$
                                    </div>
                                </article>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-toggler">
                                    <h4 class="accordion-title">${{ index.faq-14-title }}$</h4>
                                    <i class="circled"></i>
                                </div>
                                <article class="accordion-content">
                                    <div class="accordion-content__inner">
                                        ${{ index.faq-14-content }}$
                                    </div>
                                </article>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
