<section class="section section-bg-light-dark">
    <div class="container">

        <!-- =================================================
        ===== Pricing title
        ================================================== -->
        <div class="section-heading section-heading--center">
            <h2 class="__title">Gateway <span>${{ index.solution }}$</span></h2>
            <p class="slogan-txt">
                ${{ index.hardware-solution-txt }}$
            </p>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">
                <div class="content-container">
                    <div class="pricing-table pricing-table--s1">
                        <div class="__inner">
                            <div class="row justify-content-sm-center">

                                <!-- =================================================
                                =====
                                ================================================== -->
                                <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4 d-sm-flex">
                                    <div class="__item __item--rounded shadow">
                                        <div class="__header">
                                            <div class="__title h4">Ethernet</div>
                                            <div class="__price">26.98<sup>€</sup><br/></div>
                                            <sub class="__info">${{ index.per-device }}$</sub>
                                        </div>
                                        <div class="__body pb-9">
                                            <img class="img-fluid pb-6" width="200" src="../img/oneiot/gateway-preview-ethernet.png" alt="Gateway" />
                                            <ul class="__desc-list">
                                                <li>Indoor</li>
                                                <li>${{ index.wired }}$</li>
                                                <li>${{ index.high-data}}$</li>
                                                <li>LoRaWAN kompatible</li>
                                            </ul>
                                        </div>
                                        <div class="__footer">
                                            <a class="custom-btn custom-btn--medium custom-btn--style-2"
                                               href="./#contact">
                                                &nbsp;&nbsp;${{ index.interested }}$&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                =====
                                ================================================== -->
                                <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4 d-sm-flex">
                                    <div class="__item __item--rounded shadow">
                                        <div class="__header">
                                            <div class="__title h4">WiFi</div>
                                            <div class="__price">26.98<sup>€</sup><br/></div>
                                            <sub class="__info">${{ index.per-device }}$</sub>
                                        </div>
                                        <div class="__body pb-9">
                                            <img class="img-fluid pb-6" width="200" src="../img/oneiot/gateway-preview-cellular.png" alt="Gateway" />
                                            <ul class="__desc-list">
                                                <li>Indoor & Outdoor</li>
                                                <li>${{ index.limited-range }}$</li>
                                                <li>${{ index.high-data }}$</li>
                                                <li>LoRaWAN kompatible</li>
                                            </ul>
                                        </div>
                                        <div class="__footer">
                                            <a class="custom-btn custom-btn--medium custom-btn--style-2"
                                               href="./#contact">
                                                &nbsp;&nbsp;${{ index.interested }}$&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                =====
                                ================================================== -->
                                <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4 d-sm-flex">
                                    <div class="__item __item--rounded shadow __item--active">
                                        <div class="__header">
                                            <div class="__title h4">NB-IoT</div>
                                            <div class="__price">34.98<sup>€</sup><br/></div>
                                            <sub class="__info">${{ index.per-device }}$</sub>
                                        </div>
                                        <div class="__body pb-9">
                                            <img class="img-fluid pb-6" width="200" src="../img/oneiot/gateway-preview-cellular.png" alt="Gateway" />
                                            <ul class="__desc-list">
                                                <li>Outdoor</li>
                                                <li>${{ index.high-range }}$</li>
                                                <li>${{ index.low-power }}$</li>
                                                <li>LoRaWAN kompatible</li>
                                            </ul>
                                        </div>
                                        <div class="__footer">
                                            <a class="custom-btn custom-btn--medium custom-btn--style-4"
                                               href="./#contact">
                                                &nbsp;&nbsp;${{ index.interested }}$&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
