<section class="section section--light-blue-bg" id="pricing">
    <div class="container">

        <!-- =================================================
        ===== Pricing title
        ================================================== -->
        <div class="section-heading section-heading--center">
            <h2 class="__title">${{ index.pricing }}$ <span>${{ index.for-your-solution }}$</span></h2>
            <p class="slogan-txt">
                ${{ index.pricing-slogan }}$
            </p>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">
                <div class="content-container">
                    <div class="pricing-table pricing-table--s1">
                        <div class="__inner">
                            <div class="row justify-content-sm-center">

                                <!-- =================================================
                                ===== Easy service
                                ================================================== -->
                                <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-3 d-sm-flex">
                                    <div class="__item __item--rounded __item--shadow">
                                        <div class="__header">
                                            <div class="__title h4">Easy Service</div>
                                            <div class="__price">6.98<sup>€</sup><br/></div>
                                            <sub class="__info">${{ index.per-device }}$</sub>
                                        </div>
                                        <div class="__body  pt-8 pb-9">
                                            <ul class="__desc-list">
                                                <li>${{ index.service-easy-hardware }}$</li>
                                                <li>${{ index.service-easy-cloud }}$</li>
                                                <li>${{ index.service-1 }}$</li>
                                                <li>${{ index.service-2 }}$</li>
                                                <li>${{ index.service-3 }}$</li>
                                                <li>${{ index.service-4 }}$</li>
                                                <li>${{ index.service-5 }}$</li>
                                                <br/>
                                                <li>${{ index.service-6 }}$</li>
                                                <li>${{ index.service-7 }}$</li>
                                            </ul>
                                        </div>
                                        <div class="__footer">
                                            <a class="custom-btn custom-btn--medium custom-btn--style-2"
                                               href="./#contact">
                                                &nbsp;&nbsp;${{ index.interested }}$&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                ===== Premium service
                                ================================================== -->
                                <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-3 d-sm-flex">
                                    <div class="__item __item--rounded __item--shadow __item--active">
                                        <div class="__header">
                                            <div class="__title h4">Premium Service</div>
                                            <div class="__price">10.98<sup>€</sup><br/></div>
                                            <sub class="__info">${{ index.per-device }}$</sub>
                                        </div>
                                        <div class="__body  pt-8 pb-9">
                                            <ul class="__desc-list">
                                                <li>${{ index.service-premium-hardware }}$</li>
                                                <li>${{ index.service-premium-cloud }}$</li>
                                                <li>${{ index.service-1 }}$</li>
                                                <li>${{ index.service-2 }}$</li>
                                                <li>${{ index.service-3 }}$</li>
                                                <li>${{ index.service-4 }}$</li>
                                                <li>${{ index.service-5 }}$</li>
                                                <br/>
                                                <li>${{ index.service-6 }}$</li>
                                                <li>${{ index.service-7 }}$</li>
                                            </ul>
                                        </div>
                                        <div class="__footer">
                                            <a class="custom-btn custom-btn--medium custom-btn--style-4"
                                               href="./#contact">
                                                &nbsp;&nbsp;${{ index.interested }}$&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                ===== Device storage
                                ================================================== -->
                                <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-3 d-sm-flex">
                                    <div class="__item __item--rounded __item--shadow platinum-storage">
                                        <div class="__header">
                                            <div class="__title h4">Platinum Storage</div>
                                            <div class="__price"
                                                 style="font-size: 2.7rem!important;margin-bottom: 30px;">
                                                ${{ index.pay-as-you-go }}$<sup></sup><br/></div>
                                            <sub class="__info">${{ index.per-device }}$</sub>
                                        </div>
                                        <div class="__body  pt-8 pb-9">
                                            <ul class="__desc-list">
                                                <li>${{ index.storage-1 }}$</li>
                                                <li>${{ index.storage-2 }}$</li>
                                            </ul>
                                        </div>
                                        <div class="__footer">
                                            <a class="custom-btn custom-btn--medium custom-btn--style-2"
                                               href="./#contact">
                                                &nbsp;&nbsp;${{ index.interested }}$&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                               ===== Custom solution
                               ================================================== -->
                                <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-3 d-sm-flex">
                                    <div class="__item __item--rounded __item--shadow">
                                        <div class="__header">
                                            <div class="__title h4">${{ index.custom-solution }}$</div>
                                        </div>
                                        <div class="__body  pt-8 pb-9">
                                            <ul class="__desc-list">
                                                <li>${{ index.custom-solution-1 }}$</li>
                                                <li>${{ index.custom-solution-2 }}$</li>
                                                <li>${{ index.custom-solution-3 }}$</li>
                                                <li>${{ index.custom-solution-4 }}$</li>
                                                <li>${{ index.custom-solution-5 }}$</li>
                                                <li>${{ index.custom-solution-6 }}$</li>
                                                <li>${{ index.custom-solution-7 }}$</li>
                                            </ul>
                                        </div>
                                        <div class="__footer">
                                            <a class="custom-btn custom-btn--medium custom-btn--style-2"
                                               href="./#contact">
                                                &nbsp;&nbsp;${{ index.interested }}$&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer py-3"></div>
                    <p class="pricing-info">
                        ${{ index.pricing-info }}$
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
