<section class="section section-bg-light-dark">
    <div class="container">

        <!-- =================================================
        =====
        ================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-lg-center">
                    <div class="col-12 col-lg-6 align-top">
                        <div class="feature feature--s1  text-center text-sm-left">
                            <div class="__inner">
                                <h2 class="__title">${{ index.custom }}$ <span>${{ index.solution }}$</span></h2>
                                <p>
                                    ${{ index.custom-solution-txt }}$
                                </p>
                            </div>
                        </div>
                        <div class="spacer py-4"></div>
                    </div>

                    <div class="spacer py-5 d-lg-none"></div>

                    <div class="col-12 col-lg-5 offset-lg-1 text-center text-lg-right align-top">
                        <ul class="__desc-list check-list">
                            <li><i class="ico-checked fontello-ok"></i>${{ index.individual-strategy }}$</li>
                            <li><i class="ico-checked fontello-ok"></i>Proof of Concept</li>
                            <li><i class="ico-checked fontello-ok"></i>${{ index.prototype-dev }}$</li>
                            <li><i class="ico-checked fontello-ok"></i>${{ index.use-case-dev }}$</li>
                            <li><i class="ico-checked fontello-ok"></i>${{ index.individual-dashboard }}$</li>
                            <li><i class="ico-checked fontello-ok"></i>${{ index.end-to-end-integration-on-site }}$</li>
                            <li><i class="ico-checked fontello-ok"></i>${{ index.custom-solution-7 }}$</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
