<section class="section service" id="support">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-lg-center">
            <div class="col-12 col-lg-6 offset-1">
                <div class="section-heading">
                    <h2 class="__title">${{ index.support }}$<span></span></h2>
                </div>
                <div class="spacer py-4"></div>
                <div>
                    <p>${{ index.support-txt-p1 }}$</p>
                    <p>${{ index.support-txt-p2 }}$</p>
                    <div class="spacer py-6"></div>

                </div>
            </div>
            <div class="spacer py-4 d-lg-none"></div>
            <div class="col-12 col-lg-5 text-center text-lg-left">
                <img class="img-fluid" width="547" height="567" src="../img/oneiot/partner-card.png" alt="Support" />
            </div>
        </div>
    </div>
</section>
