<section class="section service" id="support">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-lg-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading">
                    <h2 class="__title">${{ index.support }}$<span></span></h2>
                </div>
                <div class="spacer py-4"></div>
                <div>
                    <p>${{ index.support-txt-p1 }}$</p>
                    <p>${{ index.support-txt-p2 }}$</p>
                    <div class="spacer py-6"></div>

                </div>
            </div>
            <div class="spacer py-4 d-lg-none"></div>
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <img data-aos="fade-left" data-aos-offset="100" data-aos-duration="500" data-aos-delay="400" class="img-fluid"  width="400" src="../img/oneiot/support.png" alt="Support" />
            </div>
        </div>
    </div>
</section>
