<section class="section section--bg-img jarallax" data-img-position="50% 60%" data-speed="0.3" id="compare-table"
         style="background-image: url(../img/oneiot/bg-slogan-between.png);">
    <div class="container">
        <div class="section-heading section-heading--white section-heading--center">
            <h2 class="__title">${{ index.everything-can-digitized }}$<br><span>${{ index.will-digitized }}$</span></h2>
            <div class="spacer py-3"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <p class="text-white slogan-txt text-center">
                    ${{ index.slogan-between-content }}$
                </p>
            </div>
        </div>
    </div>
</section>
