<section class="section" id="solution">
    <div class="container">
        <div class="section-heading section-heading--center text-white">
            <h2 class="__title text-white">${{ index.custom-solution }}$. <span> ${{ index.use-case-first }}$</span>
            </h2>
            <p class="slogan-txt">
                ${{ index.custom-solution-slogan-p1 }}$
                <br/>
                ${{ index.custom-solution-slogan-p2 }}$
            </p>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">

                @@include('custom-development.html')

            </div>
        </div>
    </div>
</section>
