<section class="section section--bg-img lazy" id="usecases">
    <div class="container">
        <div class="section-heading section-heading--center">

            <!-- =================================================
            ===== Use cases description
            ================================================== -->

            <div class="section-heading">
                <h2 class="__title">${{ index.use-cases }}$. <span>${{ index.increase-business }}$</span></h2>
            </div>

            <div class="spacer py-4"></div>

            <div>
                <p class="slogan-txt">
                    ${{ index.use-cases-slogan }}$.
                </p>
            </div>

            <div class="spacer py-9"></div>

        </div>

        @@include('usecase-escooter.html')

        <div class="spacer py-4"></div>

        @@include('usecase-aquarium.html')

        <div class="spacer py-4"></div>

        @@include('usecase-your-idea.html')

    </div>
</section>
