<section class="section" id="why">
    <div class="container">

        <!-- =================================================
        ===== Why title
        ================================================== -->
        <div class="section-heading section-heading--center">
            <h2 class="__title">${{ index.why }}$? <span>${{ index.choose }}$ OneIoT</span></h2>
            <div class="spacer py-1"></div>
            <p class="slogan-txt">
                ${{ index.why-slogan }}$
            </p>
        </div>

        <div class="spacer py-8"></div>

        <!-- =================================================
        ===== Why content with icons
        ================================================== -->
        <div class="row">
            <div class="col-12">

                <!-- =================================================
                ===== Row 1
                ================================================== -->
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-dice-d6 fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>IoT ${{ index.ecosystem }}$</h4>
                        <p>
                            ${{ index.why-ecosystem-content }}$
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-exchange-alt fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>${{ index.end-to-end-integration }}$</h4>
                        <p>
                            ${{ index.why-end-to-end-content }}$
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>${{ index.hardware }}$</h4>
                        <p>
                            ${{ index.why-hardware-content }}$
                        </p>
                    </div>
                </div>

                <!-- =================================================
                ===== Row 2
                ================================================== -->
                <div class="row mt-5 text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-coins fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>${{ index.cost-efficient }}$</h4>
                        <p>
                            ${{ index.why-cost-efficient-content }}$
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>${{ index.over-the-air-updates }}$</h4>
                        <p>
                            ${{ index.why-updates-content }}$
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield-alt fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>${{ index.secure-default }}$</h4>
                        <p>
                            ${{ index.why-secure-content }}$
                        </p>
                    </div>
                </div>

                <!-- =================================================
                ===== Row 3
                ================================================== -->
                <div class="row mt-5 text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-chart-line fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>${{ index.analytics }}$</h4>
                        <p>
                            ${{ index.why-analytics-content }}$
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-th-large fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>${{ index.plugins }}$</h4>
                        <p>
                            ${{ index.why-plugins-content }}$
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user-shield fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>${{ index.privacy }}$</h4>
                        <p>
                            ${{ index.why-privacy-content }}$
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
