<section class="section" id="why">
    <div class="container">

        <!-- =================================================
        ===== Why title
        ================================================== -->
        <div class="section-heading section-heading--center">
            <h2 class="__title">${{ index.digitization-is-easy-title-p1 }}$ <span>${{ index.digitization-is-easy-title-p2 }}$</span></h2>
            <div class="spacer py-1"></div>
        </div>

        <div class="spacer py-8"></div>

        <!-- =================================================
        ===== Why content with icons
        ================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-lg-center">
                    <div class="col-12 col-lg-6">
                        <div class="feature feature--s1  text-center text-sm-left">
                            <div class="__inner">

                                <!-- =================================================
                                ===== Item 1
                                ================================================== -->
                                <div class="__item">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="carefree package" class="img-fluid" src="../img/oneiot/package.png" width="75"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.carefree-package }}$</h4>
                                            <p>${{ index.carefree-package-content }}$.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                ===== Item 2
                                ================================================== -->
                                <div class="__item">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="individual solution" class="img-fluid" src="../img/oneiot/solution.png" width="65"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.individual-solution }}$</h4>
                                            <p>${{ index.individual-solution-content }}$.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- =================================================
                                ===== Item 3
                                ================================================== -->
                                <div class="__item">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto">
                                            <div class="mb-3 mb-sm-0">
                                                <img alt="secure" class="img-fluid" src="../img/oneiot/security.png" width="70"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm">
                                            <h4 class="__title h3">${{ index.secure }}$</h4>
                                            <p>${{ index.secure-content }}$.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer py-5 d-lg-none"></div>

                    <!-- =================================================
                    ===== Video
                    ================================================== -->
                    <div class="col-12 col-lg-6  text-center text-lg-right">
                        <figure class="image-container">
                            <img class="img-fluid" width="547" height="567" src="../img/oneiot/video-preview.jpg" alt="explain me video" />
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
