<section class="section section-bg-light-dark">
    <div class="container">
        <div class="section-heading section-heading--center">
            <span class="title-tag-lr">Sichere Server in Deutschland</span>
            <h2 class="__title mb-8">Platform <span>as a Service</span></h2>
        </div>

        <div class="row">
            <div class="col-12 mt-8 justify-content-center">
                <div class="row justify-content-lg-center">
                    <div class="col-12 col-lg-4">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-rocket.png" alt="Messgerät verbinden"/>
                                    </figure>
                                    <h4 class="__title mt-3">Direkt loslegen</h4>
                                    <p>
                                        Wir haben schon alles für Sie erledigt. Ihre Messgeräte sind im Handumdrehen online und betriebsbereit
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-goal.png" alt="Einfach unkompliziert"/>
                                    </figure>
                                    <h4 class="__title mt-3">Einfach unkompliziert</h4>
                                    <p>
                                        Keine eigene Infrastruktur notwendig. Wir kümmern uns um den zuverlässigen Betrieb der Messgeräte Plattform
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-cloud.png" alt="IoT Cloud in Deutschland"/>
                                    </figure>
                                    <h4 class="__title mt-3">Standort in Deutschland</h4>
                                    <p>
                                        Keine Sorge um Ihre Daten. Unsere Server sind in Deutschland und wir agieren nach deutschem Datenschutz
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
