<section class="section section-bg-light-dark">
    <div class="container">
        <div class="section-heading section-heading--center">
            <span class="title-tag-lr">Power für Ihre Messgeräte Anwendung</span>
            <h2 class="__title mb-8">Leistungsstarke <span>Services</span></h2>
        </div>

        <div class="row">
            <div class="col-12 mt-8 justify-content-center">
                <div class="row justify-content-lg-center">

                    <div class="col-12 col-lg-3 pb-12">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-app.png" alt="Device Onboarding"/>
                                    </figure>
                                    <h4 class="__title mt-3">Device Onboarding</h4>
                                    <p>
                                        Schnelle und einfache Registrierung mit der Cloud für alle Messgeräte
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 pb-12">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-database.png" alt="Device Storage"/>
                                    </figure>
                                    <h4 class="__title mt-3">Device Storage</h4>
                                    <p>
                                        Speichert zuverlässig alle Messdaten und bietet Exportfunktionen
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 pb-12">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-management.png" alt="Device Management"/>
                                    </figure>
                                    <h4 class="__title mt-3">Device Management</h4>
                                    <p>
                                        Übersichtliche Verwaltung und Informationen aller registrieren Messgeräte
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 pb-12">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-debug.png" alt="Device Debugging"/>
                                    </figure>
                                    <h4 class="__title mt-3">Device Debugging</h4>
                                    <p>
                                        Erstellt Diagnosen und analysiert Messgeräte nach Ihren Anforderungen
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 pb-12">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-users.png" alt="User Management"/>
                                    </figure>
                                    <h4 class="__title mt-3">User Management</h4>
                                    <p>
                                        Flexibles Rollen und Rechtemanagement für alle User im Workspace
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 pb-12">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-messages.png" alt="Rule Engine and Alerts"/>
                                    </figure>
                                    <h4 class="__title mt-3">Rule Engine</h4>
                                    <p>
                                        Sende SMS, E-Mail Alerts und erstelle viele weitere neue Funktionen
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 pb-12">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-download.png" alt="Over-The-Air Updates"/>
                                    </figure>
                                    <h4 class="__title mt-3">Over-The-Air Updates</h4>
                                    <p>
                                        So bleiben alle Messgeräte stets auf dem sichersten und neusten Stand
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 pb-12">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-plug.png" alt="IoT Schnittstellen"/>
                                    </figure>
                                    <h4 class="__title mt-3">Schnittstellen</h4>
                                    <p>
                                        Zahlreiche Auswahl an Standard-Schnittstellen für jeden Anwendungsfall
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 pb-12">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-config.png" alt="Config Management"/>
                                    </figure>
                                    <h4 class="__title mt-3">Config Management</h4>
                                    <p>
                                        Individuelle Konfiguration für jedes Messgerät und White Label für Ihre Anwendung
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
