<div id="start-screen" class="start-screen start-screen--full-height start-screen--style-3" style='background: url("../img/banner/banner-6.png");'>
    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center">
            <div class="container">
                <div class="row front-text">
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7 pt-sm-10 mt-12 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0">
                        <span class="title-tag-lr title-tag-white text-white">Services für Messgeräte Anwendungen</span>
                        <h1 class="__title front-title text-white">
                            Messgeräte Plattform
                        </h1>
                        <p class="text-white">
                            Wir geben Ihnen alle Komponenten an die Hand, um schnell und einfach eine zuverlässige
                            Messgeräte Anwendung zu erstellen, ohne Programmierkenntnisse
                        </p>
                        <ul class="check-list my-md-6 text-white">
                            <li><i class="ico-checked fontello-ok"></i>Alles aus einer Hand</li>
                            <li><i class="ico-checked fontello-ok"></i>Industriestandards</li>
                            <li><i class="ico-checked fontello-ok"></i>Skalierbar</li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-5 col-lg-5 col-xl-5 text-lg-right pt-sm-10">
                        <img class="img-shape img-fluid" width="500" src="../img/oneiot-all-in-one.png"
                             alt="IoT Messgeräte Plattform"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background-overlay"></div>
</div>
