<section class="section">
    <div class="container">

        <div class="section-heading section-heading--center">
            <span class="title-tag-lr title-tag">Industrial-Ready Cloud made in Germany</span>
            <h2 class="__title">Messgeräte <span>Plattform</span></h2>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">
                <div class="content-container">

                    <!-- =================================================
                    ===== Pricing
                    ================================================== -->
                    <div class="pricing-table pricing-table--s4 __item--rounded">

                        <!-- =================================================
                        ===== Large View
                        ================================================== -->
                        <div class="d-none d-lg-block">
                            <table class="text-center __item--rounded shadow">
                                <tbody>
                                <tr>
                                    <th>
                                        <div class="h4">Funktionen</div>
                                    </th>
                                    <th>
                                        <div class="__header">
                                            <div class="__title h4 mb-0">${{ index.private-cloud }}$</div>
                                        </div>
                                    </th>
                                    <th class="active">
                                        <div class="__header">
                                            <div class="__title h4 mb-0">${{ index.managed-cloud }}$</div>
                                            <span class="pricing-cloud-text">Software-As-A-Service</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>Hosting</td>
                                    <td>Auf Ihrem eigenen Server</td>
                                    <td class="active">Server in Deutschland</td>
                                </tr>
                                <tr>
                                    <td>${{ index.data-sovereignty }}$</td>
                                    <td>${{ index.cloud-solution-data-sovereignty-private }}$</td>
                                    <td class="active">Zuverlässig Datensicherung in der Cloud</td>
                                </tr>
                                <tr>
                                    <td>${{ index.backups }}$</td>
                                    <td>${{ index.cloud-solution-backups-private }}$</td>
                                    <td class="active">${{ index.cloud-solution-backups-saas }}$</td>
                                </tr>
                                <tr>
                                    <td>${{ index.scalability }}$</td>
                                    <td>${{ index.cloud-solution-scalability-private }}$</td>
                                    <td class="active">Automatische Skalierbarkeit</td>
                                </tr>
                                <tr>
                                    <td>${{ index.maintenance }}$ & ${{ index.updates }}$</td>
                                    <td>${{ index.cloud-solution-maintenance-private }}$</td>
                                    <td class="active">Automatische Updates</td>
                                </tr>
                                <tr>
                                    <td>${{ index.security }}$</td>
                                    <td>${{ index.cloud-solution-security-private }}$</td>
                                    <td class="active">State-Of-The-Art Sicherheitskonzept</td>
                                </tr>
                                <tr>
                                    <td>${{ index.licence }}$</td>
                                    <td>${{ index.cloud-solution-license-private }}$</td>
                                    <td class="active">${{ index.cloud-solution-license-saas }}$</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="__price"></div>
                                        <a class="custom-btn custom-btn--medium custom-btn--style-2 text-white"  data-toggle="modal" data-target="#contact-modal">${{ index.interested }}$</a>
                                    </td>
                                    <td class="active">
                                        <div class="__price"></div>
                                        <a class="custom-btn custom-btn--medium custom-btn--style-4 pricing-btn"  data-toggle="modal" data-target="#contact-modal">${{ index.interested }}$</a>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <!-- =================================================
                        ===== Small View
                        ================================================== -->
                        <div class="d-lg-none">
                            <div class="__inner">
                                <div class="row justify-content-sm-center justify-content-md-start">
                                    <div class="col-12 col-sm-9 col-md-6 col-lg-4 d-sm-flex">

                                        <!-- =================================================
                                        ===== Private Cloud
                                        ================================================== -->
                                        <div class="__item __item--rounded shadow">
                                            <div class="__header">
                                                <div class="__title h4 mb-0">${{ index.private-cloud }}$</div>
                                                <span class="pricing-cloud-text">${{ index.own-hosting }}$</span>
                                            </div>
                                            <div class="__body  pt-8 pb-8  text-left">
                                                <div class="__name h5">Funktionen</div>
                                                <ul class="__desc-list">
                                                    <li><span>${{ index.cloud-solution-data-sovereignty-private }}$</span>${{ index.data-sovereignty }}$</li>
                                                    <li><span>${{ index.cloud-solution-backups-private }}$</span>${{ index.backups }}$</li>
                                                    <li><span>${{ index.cloud-solution-scalability-private }}$</span>${{ index.scalability }}$</li>
                                                    <li><span>${{ index.cloud-solution-security-private }}$</span>${{ index.security }}$</li>
                                                    <li><span>${{ index.cloud-solution-maintenance-private }}$</span>${{ index.maintenance }}$</li>
                                                    <li><span>${{ index.cloud-solution-support-private }}$</span>${{ index.support }}$</li>
                                                    <li><span>${{ index.cloud-solution-license-private }}$</span>${{ index.licence }}$</li>
                                                </ul>
                                            </div>
                                            <div class="__footer">
                                                <a class="custom-btn custom-btn--medium custom-btn--style-2 text-white"  data-toggle="modal" data-target="#contact-modal">${{ index.interested }}$</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-9 col-md-6 col-lg-4 d-sm-flex">
                                        <div class="__item __item--rounded shadow __item--active" style="background: #2368fb !important">
                                            <div class="__header">
                                                <div class="__title h4 mb-0">${{ index.managed-cloud }}$</div>
                                                <span class="pricing-cloud-text">Software-as-a-Service</span>
                                            </div>
                                            <div class="__body  pt-8 pb-8  text-left">
                                                <div class="__name h5">Features</div>
                                                <ul class="__desc-list">
                                                    <li><span>${{ index.cloud-solution-data-sovereignty-saas }}$</span>${{ index.data-sovereignty }}$</li>
                                                    <li><span>${{ index.cloud-solution-backups-saas }}$</span>${{ index.backups }}$</li>
                                                    <li><span>${{ index.cloud-solution-scalability-saas }}$</span>${{ index.scalability }}$</li>
                                                    <li><span>${{ index.cloud-solution-security-saas }}$</span>${{ index.security }}$</li>
                                                    <li><span>${{ index.cloud-solution-maintenance-saas }}$</span>${{ index.maintenance }}$</li>
                                                    <li><span>${{ index.cloud-solution-support-saas }}$</span>${{ index.support }}$</li>
                                                    <li><span>${{ index.cloud-solution-license-saas }}$</span>${{ index.licence }}$</li>
                                                </ul>
                                            </div>
                                            <div class="__footer">
                                                <a class="custom-btn custom-btn--medium custom-btn--style-4"  data-toggle="modal" data-target="#contact-modal">${{ index.interested }}$</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
