#dashboard-company {
  background-color: #f3f3f3 !important;
}

#dashboard-customer {
  background-color: #fff !important;
}

#dashboard-features {
  background-color: #f3f3f3 !important;
}

#dashboard-eyecatcher {
  button {
    border-color: #1d2124 !important;
    background-color: #1d2124 !important;
    color: #fff !important;
  }

  button:hover {
    border-color: #2a2c2f !important;
    background-color: #2a2c2f !important;
  }
}
