<section class="section">
    <div class="container">
        <div class="row flex-lg-row justify-content-md-center align-items-lg-center">
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <figure class="image-container">
                    <img class="img-fluid"
                         src="../img/app/dashboard-editor.png" width="500" alt="IoT Dashboard"/>
                </figure>
            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading section-heading--left">
                    <span class="title-tag">Individuelle Messgeräte Anwendungen erstellen</span>
                    <h2 class="__title mb-10">Konfigurierbares <span>Dashboard</span></h2>
                    <p>
                        Alle Komponenten des Dashboards lassen sich wie Bausteine kombinieren. Entweder für jedes Messgerät individuell
                        oder für eine ganze Gruppe an Messgeräten
                    </p>
                    <ul class="check-list my-md-6">
                        <li><i class="ico-checked fontello-ok"></i>Einfaches Baukastensystem</li>
                        <li><i class="ico-checked fontello-ok"></i>Skalierbar durch Shared Dashboards</li>
                        <li><i class="ico-checked fontello-ok"></i>Teilen Sie Dashboards mit Ihren Kunden</li>
                    </ul>
                </div>

            </div>
        </div>
</section>

