<section id="how-it-works" class="section section--bg-img jarallax" data-speed="0.3" data-img-position="50% 50%" style="background-image: url('../img/backgrounds/plumbing.png')">
    <div class="container">
        <div class="section-heading section-heading--center">
            <span class="title-tag-lr">In 3 einfachen Schritten zur Messgeräte App</span>
            <h2 class="__title mb-8">Wie <span>funktionierts?</span></h2>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">

                <div class="steps steps--s3">
                    <div class="__inner">
                        <div class="row">

                            <div class="col-12 col-md-6">
                                <div class="__item">
                                    <div class="mb-5">
                                        <figure class="image-container">
                                            <img width="100" src="../img/icon/icon-instrument.png" alt="Messung"/>
                                        </figure>
                                    </div>
                                    <span class="__num"></span>
                                    <h4 class="__title">1. Messung am Messgerät</h4>
                                    <p>
                                        Ihr Messgerät sammelt alle Messdaten und sendet diese an das verbundene Industrial Gateway 4.0
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="__item">
                                    <div class="mb-5">
                                        <figure class="image-container">
                                            <img width="100" src="../img/icon/icon-gateway.png" alt="Gateway"/>
                                        </figure>
                                    </div>
                                    <span class="__num"></span>
                                    <h4 class="__title">2. Übermittlung an die Cloud</h4>
                                    <p>
                                        Das Industrial Gateway 4.0 sendet die Messdaten sicher in die Cloud
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="__item">
                                    <div class="mb-5">
                                        <figure class="image-container">
                                            <img width="100" src="../img/icon/icon-cloud.png" alt="Messgeräte Cloud"/>
                                        </figure>
                                    </div>
                                    <span class="__num"></span>
                                    <h4 class="__title">3. Verarbeitung in der Cloud</h4>
                                    <p>
                                      Die Cloud verarbeitet die Messdaten und stellt alle Services für die Messgeräte Anwendung bereit
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="__item">
                                    <div class="mb-5">
                                        <figure class="image-container">
                                            <img width="100" src="../img/icon/icon-app.png" alt="Messgeräte App"/>
                                        </figure>
                                    </div>
                                    <span class="__num"></span>
                                    <h4 class="__title">4. Nutzung der App</h4>
                                    <p>
                                        Sie können Ihr Messgerät über die Messgeräte App bequem steuern und Messdaten auslesen
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
