<div id="start-screen" class="start-screen start-screen--full-height start-screen--style-3" style='background: url("../img/banner/banner-7.png");'>
    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center">
            <div class="container">
                <div class="row front-text">
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7 pt-sm-10 mt-12 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0">
                        <span class="title-tag-lr title-tag-white text-white">Fernprüfung aller Messgeräte</span>
                        <h1 class="__title front-title text-white">
                            Messgeräte Diagnosen
                        </h1>
                        <p class="text-white">

                        </p>
                        <ul class="check-list my-md-6 text-white">
                            <li><i class="ico-checked fontello-ok"></i>Messgeräte Logging</li>
                            <li><i class="ico-checked fontello-ok"></i>Speichert jeden Schritt und Zustand</li>
                            <li><i class="ico-checked fontello-ok"></i>Gewährleistet Nachvollziehbarkeit</li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-5 col-lg-5 col-xl-5 text-lg-right pt-sm-10">
                        <figure class="image-container">
                            <img class="img-fluid d-none d-lg-block"
                                 src="../img/app/app-preview.png" alt="Messgeräte App"/>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background-overlay"></div>
</div>
