<div id="start-screen" class="start-screen start-screen--full-height start-screen--style-3">
    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center">
            <div class="container">
                <div class="row front-text">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-6 pt-sm-10 mt-12 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0">
                        <span class="title-tag-lr title-tag-white text-white">All-In-One & Low Code</span>
                        <h1 class="__title front-title text-white">
                            Industrial-Ready <br>
                            Messgeräte Plattform
                        </h1>
                        <p class="text-white">
                            Erfahren Sie, wie Sie Messgeräte in die digitale Welt integrieren und intelligent vernetzen.
                            Bringen Sie Ihre Messgeräte online
                        </p>

                        <div class="py-3"></div>

                        <div class="row">
                            <div class="col-6">
                                <a class="nav-link text-shadow" data-toggle="modal" data-target="#contact-modal">
                                <button class="custom-btn custom-btn--medium dashboard-btn custom-btn--style-2 w-100"
                                        role="button" type="submit">
                                    Kostenlos Testen
                                </button>
                                </a>
                            </div>
                            <div class="col-6">
                                <a class="nav-link text-shadow" data-toggle="modal" data-target="#contact-modal">
                                    <button class="custom-btn custom-btn--medium dashboard-btn custom-btn--style-4 w-100"
                                            role="button" type="submit">
                                        Live Demo
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-6 col-xl-6 text-lg-right pt-sm-10">
                        <div class="py-md-3 py-sm-3 py-3 py-lg-0 py-xl-0"></div>
                        <img class="img-shape img-fluid" width="700" src="../img/oneiot-all-in-one.png"
                             alt="Dashboard"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background-overlay"></div>
</div>
