<section class="section">
    <div class="container">
        <div class="row flex-lg-row justify-content-md-center align-items-lg-center">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading section-heading--left">
                    <span class="title-tag">Bringt jedes Messgerät online</span>
                    <h2 class="__title mb-10">Industrial Gateway 4.0</h2>
                </div>
                <p>
                    Das Industrial Gateway 4.0 bringt Ihr Messgerät sorgenfrei online und garantiert eine sichere und
                    zuverlässige Kommunikation. Einfach Messgerät anschließen und direkt loslegen
                </p>

                <ul class="check-list my-md-6">
                    <li><i class="ico-checked fontello-ok"></i>Industrial-Ready</li>
                    <li><i class="ico-checked fontello-ok"></i>Schutzklasse IP65</li>
                    <li><i class="ico-checked fontello-ok"></i>Einrichtung in nur wenigen Minuten</li>
                    <li><i class="ico-checked fontello-ok"></i>Sicherer und zuverlässiger Industriestandard</li>
                </ul>

                <h2>149 €</h2>

                <a class="nav-link text-shadow nav-link-small" data-toggle="modal" data-target="#contact-modal">
                    <button class="custom-btn custom-btn--medium dashboard-btn custom-btn--style-2"
                            role="button" type="submit">
                        Jetzt Kaufen
                    </button>
                </a>

                <a class="nav-link text-shadow nav-link-small" data-toggle="modal" data-target="#contact-modal">
                    <button class="custom-btn custom-btn--medium dashboard-btn custom-btn--style-4"
                            role="button" type="submit">
                        Mehr Erfahren
                    </button>
                </a>


                <div class="mt-9">
                    <div class="services services--s4">
                        <div class="__inner">
                            <div class="row">


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-lg-6 text-center text-lg-right">
                <figure class="image-container">
                    <img class="img-fluid d-none d-lg-block" width="500"
                         src="../img/gateway/industrial-gateway-preview.png" alt="Industrial Gateway 4.0"/>
                </figure>
            </div>
        </div>
    </div>
</section>
