<section class="section">
    <div class="container">

        <div class="section-heading section-heading--center">
            <span class="title-tag-lr title-tag">IoT Plattform made in Germany</span>
            <h2 class="__title">Messgeräte <span>Plattform</span></h2>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">
                <div class="content-container">

                    <!-- =================================================
                    ===== Pricing
                    ================================================== -->
                    <div class="pricing-table pricing-table--s4 __item--rounded">

                        <!-- =================================================
                        ===== Large View
                        ================================================== -->
                        <div class="d-none d-lg-block">
                            <table class="text-center __item--rounded shadow">
                                <tbody>
                                <tr>
                                    <th>
                                        <div class="h4"></div>
                                    </th>
                                    <th>
                                        <div class="__header">
                                            <div class="__title h4 mb-0">Private Cloud</div>
                                            <span class="pricing-cloud-text">Eigenes Hosting</span>
                                        </div>
                                    </th>
                                    <th class="active">
                                        <div class="__header">
                                            <div class="__title h4 mb-0">Managed Cloud</div>
                                            <span class="pricing-cloud-text">Platform as a Service</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>Hosting</td>
                                    <td>Auf Ihrem eigenen Server</td>
                                    <td class="active">Server in Deutschland</td>
                                </tr>
                                <tr>
                                    <td>Datenhoheit</td>
                                    <td>Maximale Kontrolle</td>
                                    <td class="active">Sicherer und privater Datenspeicher</td>
                                </tr>
                                <tr>
                                    <td>Backups</td>
                                    <td>In Eigenverantwortung</td>
                                    <td class="active">Automatische Backups</td>
                                </tr>
                                <tr>
                                    <td>Skalierbarkeit</td>
                                    <td>In Eigenverantwortung</td>
                                    <td class="active">Automatische Skalierbarkeit</td>
                                </tr>
                                <tr>
                                    <td>Wartung & Updates</td>
                                    <td>Individueller Wartungsvertrag</td>
                                    <td class="active">Automatische Updates</td>
                                </tr>
                                <tr>
                                    <td>Sicherheit</td>
                                    <td>In Eigenverantwortung</td>
                                    <td class="active">State-Of-The-Art Sicherheitskonzept</td>
                                </tr>
                                <tr>
                                    <td>Lizenz</td>
                                    <td>Individuelle Lizenz</td>
                                    <td class="active">Abonnement</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="__price"></div>
                                        <a class="custom-btn custom-btn--medium custom-btn--style-2 text-white"  data-toggle="modal" data-target="#contact-modal">Interessiert</a>
                                    </td>
                                    <td class="active">
                                        <div class="__price"></div>
                                        <a class="custom-btn custom-btn--medium custom-btn--style-4 pricing-btn"  data-toggle="modal" data-target="#contact-modal">Interessiert</a>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <!-- =================================================
                        ===== Small View
                        ================================================== -->
                        <div class="d-lg-none">
                            <div class="__inner">
                                <div class="row justify-content-sm-center justify-content-md-start">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 d-sm-flex">

                                        <!-- =================================================
                                        ===== Private Cloud
                                        ================================================== -->
                                        <div class="__item __item--rounded shadow">
                                            <div class="__header">
                                                <div class="__title h4 mb-0">Private Cloud</div>
                                                <span class="pricing-cloud-text">Eigenes Hosting</span>
                                            </div>
                                            <div class="__body  pt-8 pb-8  text-left">
                                                <div class="__name h5"></div>
                                                <ul class="__desc-list">
                                                    <li><span>Auf Ihrem eigenen Server</span>Hosting</li>
                                                    <li><span>Maximale Kontrolle</span>Datenhoheit</li>
                                                    <li><span>In Eigenverantwortung</span>Backups</li>
                                                    <li><span>In Eigenverantwortung</span>Skalierbarkeit</li>
                                                    <li><span>Individueller Wartungsvertrag</span>Wartung & Updates</li>
                                                    <li><span>In Eigenverantwortung</span>Sicherheit</li>
                                                    <li><span>Individuelle Lizenz</span>Lizenz</li>
                                                </ul>
                                            </div>
                                            <div class="__footer">
                                                <a class="custom-btn custom-btn--medium custom-btn--style-2 text-white"  data-toggle="modal" data-target="#contact-modal">Interessiert</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 d-sm-flex">
                                        <div class="__item __item--rounded shadow __item--active" style="background: #2368fb !important">
                                            <div class="__header">
                                                <div class="__title h4 mb-0">Managed Cloud</div>
                                                <span class="pricing-cloud-text">Platform as a Service</span>
                                            </div>
                                            <div class="__body  pt-8 pb-8  text-left">
                                                <div class="__name h5"></div>
                                                <ul class="__desc-list">
                                                    <li><span>Server in Deutschland</span>Hosting</li>
                                                    <li><span>Sicherer und privater Datenspeicher</span>Datenhoheit</li>
                                                    <li><span>Automatische Backups</span>Backups</li>
                                                    <li><span>Automatische Skalierbarkeit</span>Skalierbarkeit</li>
                                                    <li><span>Automatische Updates</span>Wartung & Updates</li>
                                                    <li><span>State-Of-The-Art Sicherheitskonzept</span>Sicherheit</li>
                                                    <li><span>Abonnement</span>Lizenz</li>
                                                </ul>
                                            </div>
                                            <div class="__footer">
                                                <a class="custom-btn custom-btn--medium custom-btn--style-4 text-dark"  data-toggle="modal" data-target="#contact-modal">Interessiert</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
