@import 'utils/variables';
@import 'utils/extends';
@import 'utils/filters';
@import 'utils/functions';
@import 'utils/media-queries';
@import 'utils/mixins';
@import 'utils/angled-edges';

* {
  padding: 0;
  margin: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.is-sticky {
  .text-shadow {
    text-shadow: none !important;
  }
}

.is-expanded {
  .text-shadow {
    text-shadow: none !important;
  }
}

.text-shadow {
  text-shadow: 3px 3px 7px black;
}

.customer-title {
  font-size: 25px;
}

#landing-page {
  #brands-small {
    padding-bottom: 0px !important;
  }
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: -16%;
  left: 0;
}

.img-rounded {
  border-radius: 15px;
}

.section-bg-light-dark {
  background-color: #f3f3f3;
}

.pricing-btn {
  color: #2a2c2f !important;
}

.pricing-btn:hover {
  color: #fff !important;
}

.start-screen__content-container {
  h2 {
    font-size: 60px;
  }
}

#large-header {
  height: 75vh !important;
}

.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

html {
  font-size: $fontSize-root;
  text-size-adjust: 100%;

  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font: {
    size: rem-calc($fontSize-base);
    family: -apple-system, BlinkMacSystemFont, $fontFamily-base;
    weight: 400;
  };
  color: $branding-black-mid;
  background-color: #fff;
}

@media (min-width: 1100px) {
  .easy-digitization {
    width: 30% !important;
  }
}

@media (min-width: 800px) {
  .easy-digitization {
    width: 40% !important;
  }
}

@media (min-width: 580px) {
  .easy-digitization {
    width: 50% !important;
  }
}

.easy-digitization {
  width: 60% !important;
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
}

#career-offer {
  .__title {
    color: $branding-black-dark !important;
  }
}

.rounded-img {
  border-radius: 100%;
  border: 2px solid $branding-black-dark;
}

.font-size-16 {
  font-size: 1.6rem !important;
}

.container-start-screen {
  // max-width: 1500px !important;
  padding-top: 0 !important;
  vertical-align: middle;
  margin: auto;
}

@media (min-width: 1600px) {
  .container-start-screen {
    // max-width: 1500px !important;
 //   padding-top: 100px;
  }
}

@media (min-width: 1200px) {
  .container-start-screen {
   // padding-top: 150px;
  }
}

.non-flex {
  display: -webkit-box !important;
}

.align-top {
  vertical-align: top !important;
  display: inline-block !important;
}

.medium {
  width: 50%;
}

.mt-20 {
  margin-top: 20px;
}

// Required
@import "vendors/bootstrap-4/functions";
@import "vendors/bootstrap-4/variables";
@import "vendors/bootstrap-4/mixins";
// Optional
@import "vendors/bootstrap-4/grid";
@import "vendors/bootstrap-4/utilities/display";
@import "vendors/bootstrap-4/utilities/flex";
@import "vendors/bootstrap-4/images";

@import url(vendors/normalize.css);
@import url(vendors/fontello-codes.css);

@import 'vendors-extensions/fontello';

@import 'base/typography';

@import 'layout/header';
@import 'layout/start-screen';
@import 'layout/hero';

@import 'components/site_logo';
@import 'components/buttons';
@import 'components/forms';
