@import 'utils/variables';
@import 'utils/extends';
@import 'utils/filters';
@import 'utils/functions';
@import 'utils/media-queries';
@import 'utils/mixins';
@import 'utils/angled-edges';

* {
  padding: 0;
  margin: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  font-size: $fontSize-root;
  text-size-adjust: 100%;

  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font: {
    size: rem-calc($fontSize-base);
    family: -apple-system, BlinkMacSystemFont, $fontFamily-base;
    weight: 400;
  };
  color: $branding-black-mid;
  background-color: #fff;
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
}

@media (min-width: 1600px) {
  .container-start-screen {
    max-width: 1500px !important;
    padding-top: 150px;
  }
}

@media (min-width: 1200px) {
  .container-start-screen {
    padding-top: 150px;
  }
}

.medium {
  width: 50%;
}

.mt-20 {
  margin-top: 20px;
}

// Required
@import "vendors/bootstrap-4/functions";
@import "vendors/bootstrap-4/variables";
@import "vendors/bootstrap-4/mixins";
// Optional
@import "vendors/bootstrap-4/grid";
@import "vendors/bootstrap-4/utilities/display";
@import "vendors/bootstrap-4/utilities/flex";
@import "vendors/bootstrap-4/images";

@import url(vendors/normalize.css);
@import url(vendors/fontello-codes.css);

@import 'vendors-extensions/fontello';

@import 'base/typography';

@import 'layout/header';
@import 'layout/start-screen';
@import 'layout/hero';

@import 'components/site_logo';
@import 'components/buttons';
@import 'components/forms';
