<section class="section">
    <div class="container">
        <div class="row flex-lg-row justify-content-md-center align-items-lg-center">
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <figure class="image-container">
                    <img class="img-fluid"
                         src="../img/app/rule-engine.png" width="500" alt="Rule Engine"/>
                </figure>
            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading section-heading--left">
                    <span class="title-tag">Neue Funktionalität in wenigen Klicks</span>
                    <h2 class="__title mb-10">Rule <span>Engine</span></h2>
                    <p>
                       Neue Logik lässt sich einfach und zu jeder Zeit jedem Messgerät hinzufügen
                    </p>
                    <ul class="check-list my-md-6">
                        <li><i class="ico-checked fontello-ok"></i>Neue Logik für Messgeräte</li>
                        <li><i class="ico-checked fontello-ok"></i>Messgeräte vernetzen</li>
                        <li><i class="ico-checked fontello-ok"></i>Warnsystem erstellen</li>
                    </ul>
                </div>

            </div>
        </div>
</section>

