<section class="section section-bg-light-dark">
    <div class="container">
        <div class="row flex-lg-row justify-content-md-center align-items-lg-center">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading section-heading--left">
                    <span class="title-tag">Flexibles Rollen und Rechtemanagement</span>
                    <h2 class="__title mb-10">User <span>Management</span></h2>
                </div>
                <p>
                    Einfache Verwaltung aller Benutzer und Messgeräte für Ihre Unternehmensstruktur
                </p>
                <ul class="check-list my-md-6">
                    <li><i class="ico-checked fontello-ok"></i>Messgeräte werden in Workspaces verwaltet</li>
                    <li><i class="ico-checked fontello-ok"></i>Benutzer können Workspaces zugeordnet werden</li>
                    <li><i class="ico-checked fontello-ok"></i>Individuelle Berechtigungen für jeden Benutzer</li>
                </ul>
            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-lg-6 text-center text-lg-right">
                <figure class="image-container">
                    <img class="img-fluid"
                         src="../img/app/dashboard-mgmt.png" width="500" alt="User Management"/>
                </figure>
            </div>
        </div>
    </div>
</section>

