<div id="start-screen" class="start-screen start-screen--full-height start-screen--style-3" style='background: url("../img/banner/banner-6.png");'>
    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center">
            <div class="container">
                <div class="row front-text">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 pt-sm-10">
                        <span class="title-tag-lr title-tag-white text-white">All-In-One IoT Plattform für Messgeräte</span>
                        <h1 class="__title front-title text-white">
                            Messgeräte Plattform
                        </h1>
                        <p class="text-white">
                            Wir geben Ihnen alle Komponenten an die Hand, um schnell und einfach eine zuverlässige
                            Messgeräte Anwendung zu erstellen, ohne Programmierkenntnisse
                        </p>

                    </div>

                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 text-lg-right pt-sm-10">
                        <img class="img-shape" width="700" src="../img/oneiot-all-in-one.png"
                             alt="IoT Messgeräte Plattform"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background-overlay"></div>
</div>
