<section class="section">
    <div class="container">
        <div class="row flex-lg-row justify-content-md-center align-items-lg-center">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading section-heading--left">
                    <span class="title-tag">Keine Programmierkenntnisse notwendig</span>
                    <h2 class="__title mb-10">Low Code <span>Platform</span></h2>
                </div>
                <p>
                    Sparen Sie wertvolle Zeit und legen Sie sofort los. Wie in einem Baukasten lassen sich
                    alle Komponenten einfach und ohne Programmieraufwände integrieren. Der einfachste und effizienteste Weg
                    zur eigenen Messgeräte Anwendung
                </p>
                <ul class="check-list my-md-6">
                    <li><i class="ico-checked fontello-ok"></i>Einfaches Baukastensystem</li>
                    <li><i class="ico-checked fontello-ok"></i>Plug & Play</li>
                    <li><i class="ico-checked fontello-ok"></i>Individuelle Lösung</li>
                </ul>
            </div>

            <div class="spacer py-5 d-lg-none"></div>

            <div class="col-12 col-lg-6 text-center text-lg-right">
                <figure class="image-container">
                    <img class="img-fluid d-none d-lg-block" width="300"
                         src="../img/low-code.png" alt="Low Code"/>
                </figure>
            </div>
        </div>
    </div>
</section>
