<div id="start-screen" class="start-screen start-screen--full-height start-screen--style-3" style='background: url("../img/banner/banner-7.png");'>
    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center">
            <div class="container">
                <div class="row front-text">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-6 pt-sm-10 mt-12 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0">
                        <span class="title-tag-lr title-tag-white text-white">Online Zugriff auf alle Messgeräte</span>
                        <h1 class="__title front-title text-white">
                            Messgeräte Anwendung
                        </h1>
                        <p class="text-white">
                            Die Messgeräte Anwendung bringt Ihre Messgeräte ins Web oder als App auf Ihr Smartphone.
                            Erstellen Sie in nur wenigen Klicks Ihre eigene Messgeräte Anwendung, ganz ohne Programmieraufwand
                        </p>
                        <div class="py-3"></div>
                        <div class="row">
                            <div class="col-6">
                                <a class="nav-link text-shadow" target="_blank" href="https://app.easytoi.com" >
                                <button class="custom-btn custom-btn--medium dashboard-btn custom-btn--style-2 w-100"
                                        role="button" type="submit">
                                    Jetzt Kostenlos Testen
                                </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 text-lg-right pt-sm-10">
                        <figure class="image-container">
                            <img class="img-fluid d-none d-lg-block"
                                 src="../img/app/app-preview.png" alt="Messgeräte App"/>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background-overlay"></div>
</div>
