<section id="services" class="section section-bg-light-dark section-special section--no-pb">
    <div class="container">

        <div class="row">
            <div class="col-12">

        <div class="services services--s2" style="background: #ccc">
            <div class="__inner">
                <div class="row justify-content-md-center no-gutters">

                    <div class="section-heading section-heading--center">
                        <span class="title-tag-lr">Lässt sich wie Bausteine kombinieren</span>
                        <h2 class="__title mb-8">Mehr Flexibilität <span>geht nicht</span></h2>
                    </div>

                    <div class="row">
                        <div class="col-12 justify-content-center">
                            <div class="row justify-content-lg-center">

                                <div class="col-12">
                                    <img class="img-fluid text-center m-auto d-block" src="../img/gateway/modularity.png"
                                         alt="Gateway"/>
                                </div>

                                <div class="col-6 mt-8">
                                    <a class="nav-link text-shadow text-center m-auto d-block nav-link-small w-100 pb-8"
                                       href="pricing">
                                        <button class="custom-btn custom-btn--medium dashboard-btn custom-btn--style-2 w-100"
                                                role="button" type="submit">
                                            Zum Gateway Konfigurator
                                        </button>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

            </div>
        </div>
</section>
