<section class="section section--bg-img jarallax" data-speed="0.3" data-img-position="50% 50%" style="background-image: url('../img/backgrounds/solution.jpg')">
    <div class="container">
        <div class="section-heading section-heading--center">
            <span class="title-tag-lr">Vorteile einer Messgeräte Anwendung</span>
            <h2 class="__title mb-8">Lösungen <span></span></h2>
        </div>

        <div class="row">
            <div class="col-12 mt-8 justify-content-center">
                <div class="row justify-content-lg-center">

                    <div class="col-12 col-lg-3">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-app.png" alt="Messwerte Überwachen"/>
                                    </figure>
                                    <h4 class="__title mt-3">Messwerte Überwachen</h4>
                                    <p>
                                        Alle Messwerte werden in Echtzeit visualisiert und können ausgelesen werden
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-touch.png" alt="Messgeräte Steuerung"/>
                                    </figure>
                                    <h4 class="__title mt-3">Messgeräte Steuerung</h4>
                                    <p>
                                        Alle Messgeräte können aktiv und zuverlässig gesteuert werden
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-messages.png" alt="Frühwarnsystem"/>
                                    </figure>
                                    <h4 class="__title mt-3">Frühwarnsystem</h4>
                                    <p>
                                        Warnsystem per E-Mail und SMS, wenn Messungen einen Grenzwert erreichen
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-debug.png" alt="Messgeräte Diagnosen"/>
                                    </figure>
                                    <h4 class="__title mt-3">Messgeräte Diagnosen</h4>
                                    <p>
                                        Erstellt Diagnosen und analysiert Messgeräte nach Ihren Anforderungen
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
