<section id="how-it-works" class="section section--bg-img">
    <div class="container">
        <div class="section-heading section-heading--center">
            <span class="title-tag-lr">Plug & Play</span>
            <h2 class="__title mb-8"><span>Installation</span> in nur wenigen Minuten</h2>
        </div>

        <div class="row">
            <div class="col-12 mt-8 justify-content-center">
                <div class="row justify-content-lg-center">
                    <div class="col-12 col-lg-4">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-connect.png" alt="Messgerät verbinden"/>
                                    </figure>
                                    <h4 class="__title mt-3">1. Messgerät verbinden</h4>
                                    <p>
                                        Einfach Messgerät mit dem Gateway verbinden und schon wird eine sichere Verbindung aufgebaut
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-touch.png" alt="Gateway registrieren"/>
                                    </figure>
                                    <h4 class="__title mt-3">2. Gateway registrieren</h4>
                                    <p>
                                       Das Gateway lässt sich schnell per Knopfdruck mit der Messgeräte App registrieren
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="__item text-center">
                            <div class="d-sm-table">
                                <div class="d-sm-table-cell align-middle">
                                    <figure class="image-container">
                                        <img width="128" src="../img/icon/icon-app.png" alt="Durchstarten"/>
                                    </figure>
                                    <h4 class="__title mt-3">3. Messgerät ist online</h4>
                                    <p>
                                        Ihr Messgerät ist schon online und kann mit der Messgeräte App ausgelesen und bedient werden
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
